table {
    width: 100%;
}
th.mat-sort-header-sorted {
    color: black;
}

.fixed {
    position: sticky;
    top: 50px; 
    width: 100%;
    background-color: rgb(236, 236, 236);
    z-index: 1; 
}

.body{
    padding-top: 50px;
    max-width: 90%;
    margin: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-left: 1px;
    margin-left: 1px;
}

.half{
    display: flex; 
    flex-direction: row;
}

.card{
    margin: 10px;
    flex: 1;
}

.cardHeader{
    background-color: rgb(250, 250, 250);
}

.cardHeaderContent{
    padding-top: 10px;
    padding-left: 15px;
}

.title{
    font-size: 25px;
    font-weight: 400;
}

.subtitle{
    font-size: 15px;
    font-weight: 400;
}

.cardContent{
    padding: 13px;
}

.borderBottom{
    border-bottom: 2px solid lightgrey;
}