<html>
    <div class="body">
        <div class="half">

            <mat-card class="card" *ngIf="estacaoSelecionada">
                <mat-card-header class="cardHeader borderBottom">
                    <mat-card-title> <p class="cardHeaderContent title"> Estação de monitoramento ambiental - ID: ({{estacaoSelecionada.numero}})</p> </mat-card-title>
                    <mat-card-subtitle> <p class="cardHeaderContent subtitle"> 
                        <a href="https://goo.gl/maps/2YeTQncCuSJDingo7" style="text-decoration: none;" title="Maracanã - Google Maps">🗺️</a> 
                        Maracanã, Rio de Janeiro - RJ
                    </p></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="cardContent">
                    <div class="container">
                        <div>
                            <p> <strong> Nome: </strong>{{estacaoSelecionada.nome}} - <strong> ID: </strong>({{estacaoSelecionada.numero}})</p> 
                            <p> <strong> Responsável: </strong> LAPA\CoMet/CEFET-RJ </p>
                            <p> <strong> Desde: </strong> {{estacaoSelecionada.dataInicio | date : 'MM/yyyy'}} </p>
                            <p class="borderBottom"> </p>
                            <p> <strong> Status: </strong> {{estacaoSelecionada.status}}
                            <p> <strong> Cidade: </strong>   Rio de Janeiro </p>
                            <p> <strong> Localização: </strong>  Rio de Janeiro - Brasil </p>
                            <p class="borderBottom"> </p>
                            <p> <strong> Coordenadas: </strong> {{estacaoSelecionada.latitude}} , {{estacaoSelecionada.longitude}} </p>
                            <p> <strong> Altitude: </strong> {{estacaoSelecionada.altitude}}m </p>
                            <p> <strong> Altura: </strong> {{estacaoSelecionada.altura}}m </p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            
            <mat-card class="card" *ngIf="estacaoSelecionada">
                <mat-card-header class="borderBottom">
                    <mat-card-title> <p class="cardHeaderContent title"> Ultima atualização: </p> </mat-card-title>
                    <mat-card-subtitle> <p class="cardHeaderContent subtitle"> 
                        ({{firstDataHora | date : 'dd/MM/yyyy HH:mm:ss'}} - BRT)
                        ({{firstDataHora | date : "dd/MM/yyyy HH:mm:ss":"+0000"}} - UTC)
                    </p></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="cardContent">
                    <div class="container">
                        <div>
                            <iframe 
                            width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
                            src="https://www.openstreetmap.org/export/embed.html?bbox=
                            -43.226855993270874%2C
                            -22.9132783444043%2C
                            -43.22331547737122%2C
                            -22.911020224751685
                            &amp;layer=mapnik" 
                            style="border: 1px solid black">
                        </iframe>
                            <br/><small><a href="https://www.openstreetmap.org/#map=19/-22.91215/-43.22509">Ver mapa ampliado</a></small>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

        </div>
        <mat-card class="card"><mat-card-content>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="Data e Hora">
                <th mat-header-cell *matHeaderCellDef> Data e Hora (BRT)</th>
                <td mat-cell *matCellDef="let element"> {{element.dataHora | date : 'dd/MM/yyyy HH:mm'}} </td>
                </ng-container>
                <form [formGroup] = "form">
                    <ng-container matColumnDef="Estação">
                        <th mat-header-cell *matHeaderCellDef> Estação(ID)
                            <select #estacao formControlName="estacao" name="estacoes" id="estacoes" (change)="selectEstacoesHandler()">
                                <option> Tudo </option>
                                <option *ngFor="let element of estacoes" [value]="element.numero"> {{element.numero}} </option>
                            </select>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.estacao}} </td>
                    </ng-container>
                </form>
                <ng-container matColumnDef="Temperatura Ar">
                    <th mat-header-cell *matHeaderCellDef> Temperatura Ar (°C) </th>w
                    <td mat-cell *matCellDef="let element"> {{element.temperaturaAr}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Temperatura Ponto de Orvalho">
                    <th mat-header-cell *matHeaderCellDef> Ponto Orvalho (°C) </th>w
                    <td mat-cell *matCellDef="let element"> {{element.tempPontoOrvalho}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Índice Calor">
                    <th mat-header-cell *matHeaderCellDef> Índice Calor (°C) </th>w
                    <td mat-cell *matCellDef="let element"> {{element.indiceCalor}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Umidade Relativa Ar">
                    <th mat-header-cell *matHeaderCellDef> Umidade Relativa Ar (%) </th>
                    <td mat-cell *matCellDef="let element"> {{element.extra2}} </td> <!-- Obs: está trocado a URar pelo Extra2-->
                </ng-container>
    
                <ng-container matColumnDef="Pressão">
                    <th mat-header-cell *matHeaderCellDef> Pressão (hPa) </th>w
                    <td mat-cell *matCellDef="let element"> {{element.pressao}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Precipitação">
                    <th mat-header-cell *matHeaderCellDef> Chuva (mm) </th>w
                    <td mat-cell *matCellDef="let element"> {{element.precipitacao}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Direção Vento">
                    <th mat-header-cell *matHeaderCellDef> Direção Vento (°) </th>w
                    <td mat-cell *matCellDef="let element"> {{element.direcaoVento}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Velocidade Vento">
                    <th mat-header-cell *matHeaderCellDef> Velocidade Vento (m/s) </th>w
                    <td mat-cell *matCellDef="let element"> {{element.velocidadeVento}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Deficit Pressão Vapor">
                    <th mat-header-cell *matHeaderCellDef> Deficit Pressão Vapor (hPa) </th>w
                    <td mat-cell *matCellDef="let element"> {{element.deficitPressaoVapor}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Radiação Solar">
                    <th mat-header-cell *matHeaderCellDef> Radiação Solar (W/m²) </th>w
                    <td mat-cell *matCellDef="let element"> {{element.radSolar}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Extra1">
                    <th mat-header-cell *matHeaderCellDef> Extra1 </th>w
                    <td mat-cell *matCellDef="let element"> {{element.extra1}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Extra2">
                    <th mat-header-cell *matHeaderCellDef> Extra2 </th>w
                    <td mat-cell *matCellDef="let element"> {{element.extra2}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Extra3">
                    <th mat-header-cell *matHeaderCellDef> Extra3 </th>w
                    <td mat-cell *matCellDef="let element"> {{element.extra3}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Extra4">
                    <th mat-header-cell *matHeaderCellDef> Extra4 </th>w
                    <td mat-cell *matCellDef="let element"> {{element.extra4}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Bateria">
                    <th mat-header-cell *matHeaderCellDef> Bateria(V) </th>w
                    <td mat-cell *matCellDef="let element"> {{element.bateria}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>w
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
    
                <tr class="fixed" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content></mat-card>  
    </div>
</html>