<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://api.windy.com/assets/map-forecast/libBoot.js"></script>
</head>

<body src="https://api.windy.com/assets/map-forecast/libBoot.js">
    <div class="body">
        <div class="half">
            <mat-card class="card card30" *ngIf="estacaoSelecionada">
                <mat-card-header class="cardHeader borderBottom">
                    <mat-card-title> <p class="cardHeaderContent title"> Estação de monitoramento ambiental</p> </mat-card-title>
                    <mat-card-subtitle> <p class="cardHeaderContent subtitle"> 
                        <strong>Local: </strong> {{estacaoSelecionada.nome}} (placeholder) <strong> ID: </strong>{{estacaoSelecionada.numero}} 
                    </p></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="cardContent">
                    <div class="container">
                        <div>
                            <p> <strong> Responsável: </strong> LAPA\CoMet/CEFET-RJ </p>
                            <p> <strong> Nome: </strong> {{estacaoSelecionada.nome}} </p>
                            <p> <strong> Desde: </strong> {{estacaoSelecionada.dataInicio | date : 'MM/yyyy'}}
                            <p> <strong> Status: </strong> 
                                <span [ngStyle]="{ 'color': status[estacaoSelecionada.status] == 'Desligada' ? 'red' : status[estacaoSelecionada.status] == 'Funcionando' ? 'green' : 'blue' }" *ngIf="status[estacaoSelecionada.status]"> {{status[estacaoSelecionada.status]}}</span> </p>
                            <p class="borderBottom"> </p>
                            <p> <strong> Coordenadas: </strong> {{estacaoSelecionada.latitude.toFixed(6)}} <strong>{{estacaoSelecionada.latitude < 0 ? 'S' : 'N'}}</strong> ,
                                                                {{estacaoSelecionada.longitude.toFixed(6)}} <strong>{{estacaoSelecionada.longitude < 0 ? 'W' : 'E' }}</strong> </p>
                            <p> <strong> Altitude: </strong> {{estacaoSelecionada.altitude}}m </p>
                            <p> <strong> Altura: </strong> {{estacaoSelecionada.altura}}m </p>
                            <strong> Ultima atualização: </strong>{{firstDataHora | date : 'dd/MM/yyyy HH:mm'}}h
                            ({{firstDataHora | date : "HH:mm":"+0000"}}h - UTC)
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="card card30" *ngIf="!estacaoSelecionada">
                <mat-card-header class="cardHeader borderBottom">
                    <mat-card-title> <p class="cardHeaderContent title"> Estações de monitoramento ambiental</p> </mat-card-title>
                    <mat-card-subtitle> <p class="cardHeaderContent subtitle"> 
                        <strong>Locais: </strong> Rio de Janeiro e Espírito Santo
                    </p></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="cardContent">
                    <div class="container">
                        <div>
                            <p> <strong> Número de estações: </strong> {{numEstacoes}} </p> 
                            <p> <strong> Número total de dados: </strong> {{numDados}} (Placeholder) </p>
                            <p> <strong> Responsável: </strong> LAPA\CoMet/CEFET-RJ </p>
                            <p> <strong> Desde: </strong> 02/23
                            <p class="borderBottom"> </p>
                            <p> <strong> Ultima atualização - Dia: </strong> {{firstDataHora | date : 'dd/MM/yyyy'}} </p>
                            <p> <strong> Ultima atualização - Hora: </strong>
                                {{firstDataHora | date : 'HH:mm'}}h
                                ({{firstDataHora | date : "HH:mm":"+0000"}}h - UTC)
                            </p>
                            <p> <strong> Ultima atualização - ID: </strong> {{firstNumero}} </p>
                            <strong> O intervalo de chegada dos dados varia por estação</strong>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="card card70" >
                <mat-card-content class="cardContent map" id="map">
                    <app-map></app-map>
                </mat-card-content>
            </mat-card>
        </div>
        <mat-card class="card">
            <mat-card-header class="fixed center" *ngIf="estacaoSelecionada">
                Estação de monitoramento ambiental <strong> {{estacaoSelecionada.nome}} </strong> - ID: {{estacaoSelecionada.numero}}
            </mat-card-header>
            <mat-card-header class="fixed center" *ngIf="!estacaoSelecionada">
                Todas as estações de monitoramento ambiental - LAPA
            </mat-card-header>
            <mat-card-content>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="Data e Hora">
                        <th mat-header-cell *matHeaderCellDef> Data e Hora (BRT)</th>
                        <td mat-cell *matCellDef="let element"> {{element.dataHora | date : 'dd/MM/yyyy HH:mm'}}h </td>
                    </ng-container>
                    <form [formGroup] = "form">
                        <ng-container matColumnDef="Estação">
                            <th mat-header-cell *matHeaderCellDef> Estação(ID)
                                <select #estacao formControlName="estacao" name="estacoes" id="estacoes" (change)="selectEstacoesHandler()">
                                    <option> Tudo </option>
                                    <option *ngFor="let element of estacoes" [value]="element.numero"> {{element.numero}} </option>
                                </select>
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.estacao}} </td>
                        </ng-container>
                    </form>
                    <ng-container matColumnDef="Temperatura Ar">
                        <th mat-header-cell *matHeaderCellDef> Temperatura Ar (°C) </th>w
                        <td mat-cell *matCellDef="let element"> {{element.temperaturaAr}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Temperatura Ponto de Orvalho">
                        <th mat-header-cell *matHeaderCellDef> Ponto Orvalho (°C) </th>w
                        <td mat-cell *matCellDef="let element"> {{element.tempPontoOrvalho}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Índice Calor">
                        <th mat-header-cell *matHeaderCellDef> Índice Calor (°C) </th>w
                        <td mat-cell *matCellDef="let element"> {{element.indiceCalor | transform}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Umidade Relativa Ar">
                        <th mat-header-cell *matHeaderCellDef> Umidade Relativa Ar (%) </th>
                        <td mat-cell *matCellDef="let element"> {{element.extra2}} </td> <!-- Obs: está trocado a URar pelo Extra2-->
                    </ng-container>
        
                    <ng-container matColumnDef="Pressão">
                        <th mat-header-cell *matHeaderCellDef> Pressão (hPa) </th>w
                        <td mat-cell *matCellDef="let element"> {{element.pressao}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Precipitação">
                        <th mat-header-cell *matHeaderCellDef> Chuva (mm) </th>w
                        <td mat-cell *matCellDef="let element"> {{element.precipitacao}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Direção Vento">
                        <th mat-header-cell *matHeaderCellDef> Direção Vento (°) </th>w
                        <td mat-cell *matCellDef="let element"> {{element.direcaoVento}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Velocidade Vento">
                        <th mat-header-cell *matHeaderCellDef> Velocidade Vento (m/s) </th>w
                        <td mat-cell *matCellDef="let element"> {{element.velocidadeVento}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Deficit Pressão Vapor">
                        <th mat-header-cell *matHeaderCellDef> Deficit Pressão Vapor (hPa) </th>w
                        <td mat-cell *matCellDef="let element"> {{element.deficitPressaoVapor | transform}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Radiação Solar">
                        <th mat-header-cell *matHeaderCellDef> Radiação Solar (W/m²) </th>w
                        <td mat-cell *matCellDef="let element"> {{element.radSolar}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Extra1">
                        <th mat-header-cell *matHeaderCellDef> Extra1 </th>w
                        <td mat-cell *matCellDef="let element"> {{element.extra1}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Extra2">
                        <th mat-header-cell *matHeaderCellDef> Extra2 </th>w
                        <td mat-cell *matCellDef="let element"> {{element.extra2}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Extra3">
                        <th mat-header-cell *matHeaderCellDef> Extra3 </th>w
                        <td mat-cell *matCellDef="let element"> {{element.extra3}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Extra4">
                        <th mat-header-cell *matHeaderCellDef> Extra4 </th>w
                        <td mat-cell *matCellDef="let element"> {{element.extra4}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Bateria">
                        <th mat-header-cell *matHeaderCellDef> Bateria(V) </th>w
                        <td mat-cell *matCellDef="let element"> {{element.bateria}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>w
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>
        
                    <tr class="fixed2" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; index as i; columns: displayedColumns;"
                    [ngClass]="{ 'gray-background': i % 2 !== 0 }"></tr>
                </table>
            </mat-card-content>
        </mat-card>  
    </div>
</body>