.map {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

table {
    min-width: 1280px;
}

th.mat-sort-header-sorted {
    color: black;
}

.estacoesHandler{
    width: 160px;
    padding-top: 5px;
}

.fixed {
    position: sticky;
    width: 100%;
    top: 49px;
    z-index: 999;
}

.fixed2 {
    position: sticky;
    top: 73px; 
    width: 100%;
    background-color: rgb(236, 236, 236);
    z-index: 999; 
}

.fixed3 {
    position: sticky;
    bottom: 20px;
    width: 100%;
    z-index: 999; 
}

.body{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: rgb(66, 66, 66);
    padding-top: 60px;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.container {
    display: block;
    background-color: transparent;
    justify-content: space-between;
    padding-left: 1px;
    margin-left: 1px;
    height: 100%;
}

.half{
    display: flex;
    min-width: 1280px;
}

.card{
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(185, 185, 185);
    padding: 0.5px;
}

.blue{
    background-color: rgb(0, 132, 255) !important;
}

.card30{
    width: 30%;
    margin-right: 5px;
    padding: 1px !important;
}

.card70{
    width: 70%;
    padding: 1px !important;
}

.cardHeader{
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cardContent{
    padding: 13px;
    font-size: 14px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.center{
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    min-width: 1280px;
    background-color: rgb(0, 132, 255);
    color: rgb(255, 255, 255);
}

.cardHeaderContent{
    padding-top: 10px;
    padding-left: 15px;
}

.title{
    font-size: 25px;
    font-weight: 400;
    color: black;
}

.icon-display{
    display: flex;
    align-items: center;
}

.icon{
    transform: scale(0.8);
}

.subtitle{
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.borderBottom{
    border-bottom: 2px solid rgb(220, 238, 255);
}


.gray-background {
    background-color: #ebebeb;
}

.paginator{
    background-color: #121d2e;
    padding: 2px;
    min-width: 1280px;
    max-height: 40px;
}

.paginatorContent{
    display: flex;
}

.paginatorContent button{
    flex-grow: 1;
}

button.active {
    background-color: rgb(0, 132, 255);
    color: white;
}

.customButton{
    border-radius: 0 !important;
    background-color: #ffffff;
}

p{
    margin-bottom: 15px;
}

.custom-tooltip {
    background-color: #69b3e2;
    color: #fff;
    border-radius: 3px;
    padding: 5px;
}