<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://api.windy.com/assets/map-forecast/libBoot.js"></script>
</head>

<body src="https://api.windy.com/assets/map-forecast/libBoot.js">
    <div class="body">
        <div class="half">
            <mat-card class="card blue card30" *ngIf="estacaoSelecionada">
                <mat-card-header class="cardHeader borderBottom">
                    <mat-card-title> <p class="cardHeaderContent title"> Estação de monitoramento ambiental </p> </mat-card-title>
                    <mat-card-subtitle> <p class="cardHeaderContent subtitle"> 
                        <span class="subtitle"> Local: </span> {{cidade}}, {{estado}} <span class="subtitle"> </span> 
                    </p></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="cardContent">
                    <div class="container">
                        <div>
                            <p> <span class="subtitle"> Responsável: </span> 
                                <span class="subtitle" style="color:rgb(0, 110, 255)"> LAPA\CoMet/CEFET-RJ </span></p>

                            <p> <span class="subtitle"> Nome: </span> <span class="subtitle" style="color:rgb(0, 110, 255)"> {{estacaoSelecionada.nome}} </span> 
                                - <span class="subtitle"> ID: </span> <span class="subtitle" style="color:rgb(0, 110, 255)">{{estacaoSelecionada.numero}}</span></p>
                            <p> <span class="subtitle"> Desde: <span style="font-weight: 400;"> {{estacaoSelecionada.dataInicio | date : 'MM/yyyy'}} </span> </span>
                            <p> <span class="subtitle"> Status: </span> 
                                <span class="subtitle" [ngStyle]="{ 'color': status[estacaoSelecionada.status] == 'Desligada' ? 'red' : status[estacaoSelecionada.status] == 'Funcionando' ? 'green' : 'blue' }" *ngIf="status[estacaoSelecionada.status]"> {{status[estacaoSelecionada.status]}}</span> </p>
                            <p class="borderBottom"> </p>
                            <p> <span class="subtitle"> Coordenadas: 
                                <span style="color:rgb(0, 110, 255)"> {{estacaoSelecionada.latitude | degrees}} </span> <strong>{{estacaoSelecionada.latitude < 0 ? 'S' : 'N'}}</strong> - 
                                <span style="color:rgb(0, 110, 255)"> {{estacaoSelecionada.longitude | degrees}} </span> <strong>{{estacaoSelecionada.longitude < 0 ? 'W' : 'E' }}</strong> </span> 
                            </p>
                            <p> <span class="subtitle"> Altitude: <span style="font-weight: 400;"> {{estacaoSelecionada.altitude}}m </span> </span> </p>
                            <p> <span class="subtitle"> Altura: <span style="font-weight: 400;"> {{estacaoSelecionada.altura}}m </span> </span> </p>
                                <span class="subtitle"> Ultima atualização: <span style="font-weight: 400;"> {{firstDataHora | date : 'dd/MM/yyyy HH:mm'}}h
                            ({{firstDataHora | date : "HH:mm":"+0000"}}h - UTC) </span> </span>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="card blue card30" *ngIf="!estacaoSelecionada">
                <mat-card-header class="cardHeader borderBottom">
                    <mat-card-title> <p class="cardHeaderContent title"> Estações de monitoramento ambiental</p> </mat-card-title>
                    <mat-card-subtitle> <p class="cardHeaderContent subtitle"> 
                        O intervalo de chegada dos dados varia por estação
                    </p></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="cardContent">
                    <div class="container">
                        <div>

                            <p> <span class="subtitle"> Número de estações: <span style="font-weight: 400;"> {{numEstacoes}} </span></span></p> 
                            <p> <span class="subtitle"> Número total de dados coletados: <span style="font-weight: 400;"> {{numDados}} </span></span></p>
                            <p> <span class="subtitle"> Responsável: </span> <span class="subtitle" style="color:rgb(0, 110, 255)"> LAPA\CoMet/CEFET-RJ </span></p>
                            <p> <span class="subtitle"> Desde: <span style="font-weight: 400;"> 02/23 </span></span>

                            <p class="borderBottom"> </p>
                            
                            <p> <span class="subtitle"> Estações  </span> <span class="subtitle" style="color:green"> Funcionando: {{funcionando}} </span> </p>
                            <p> <span class="subtitle"> Estações  </span> <span class="subtitle" style="color:red"> Desligadas: {{desligadas}} </span> </p>
                            <p> <span class="subtitle"> Estações  </span> <span class="subtitle" style="color:blue"> Em Manutenção: {{manutencao}} </span> </p>
                            <span class="subtitle"> Algumas estações ainda não possuem localização no mapa </span>

                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="card blue card70" >
                <mat-card-content class="cardContent map" id="map">
                    <app-map></app-map>
                </mat-card-content>
            </mat-card>
        </div>
        <mat-card class="card blue">
            <mat-card-header class="fixed center tableHeader" *ngIf="estacaoSelecionada">
                ID: {{estacaoSelecionada.numero}} - Monitoramento Ambiental {{estacaoSelecionada.nome}} 
            </mat-card-header>
            <mat-card-header class="fixed center tableHeader" *ngIf="!estacaoSelecionada">
                Monitoramento Ambiental - LAPA
            </mat-card-header>
            <mat-card-content class="tableContent">
                <table *ngIf="dataSource!.length > 0"  mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="Data e Hora">
                        <th mat-header-cell *matHeaderCellDef> Data e Hora (BRT)</th>
                        <td mat-cell *matCellDef="let element"> {{element.dataHora | date : 'dd/MM/yyyy HH:mm'}}h </td>
                    </ng-container>

                    <form [formGroup]="form">
                        <ng-container matColumnDef="Estação">

                            <th mat-header-cell *matHeaderCellDef> Estação(ID)

                                <!-- <mat-form-field #estacao appearance="outline" class="estacoesHandler" [formGroup]="form" name="estacoes" id="estacoes">
                                    <mat-label>Estação(ID)</mat-label>
                                    <mat-select formControlName="estacao" (change)="selectEstacoesHandler()" multiple>
                                        <mat-option *ngFor="let item of estacoes" [value]="item.numero">{{item.numero}}</mat-option>
                                    </mat-select>
                                </mat-form-field> -->

                                <select #estacao style="border-color: rgb(255, 136, 0);" formControlName="estacao" name="estacoes" id="estacoes" (change)="selectEstacoesHandler()">
                                    <option> Tudo </option>
                                    <option *ngFor="let element of estacoes" [value]="element.numero"> {{element.numero}} </option>
                                </select>

                            </th>

                            <td mat-cell *matCellDef="let element"> {{element.estacao}} </td>

                        </ng-container>
                    </form>
                    
                    <ng-container matColumnDef="Temperatura Ar">
                        <th mat-header-cell *matHeaderCellDef> Temperatura Ar (°C) </th>w
                        <td mat-cell *matCellDef="let element"> {{element.temperaturaAr}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Temperatura Ponto de Orvalho">
                        <th mat-header-cell *matHeaderCellDef> Ponto Orvalho (°C) </th>w
                        <td mat-cell *matCellDef="let element"> {{element.tempPontoOrvalho}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Índice Calor">
                        <th mat-header-cell *matHeaderCellDef> Índice Calor (°C) </th>w
                        <td mat-cell *matCellDef="let element"> {{element.indiceCalor | transform}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Umidade Relativa Ar">
                        <th mat-header-cell *matHeaderCellDef> Umidade Relativa Ar (%) </th>
                        <td mat-cell *matCellDef="let element"> {{element.umidadeRelativaAr | number:'1.0-0'}} </td> <!-- Obs: está trocado a URar pelo Extra2-->
                    </ng-container>
        
                    <ng-container matColumnDef="Pressão">
                        <th mat-header-cell *matHeaderCellDef> Pressão (hPa) </th>w
                        <td mat-cell *matCellDef="let element"> {{element.pressao}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Precipitação">
                        <th mat-header-cell *matHeaderCellDef> Chuva (mm) </th>w
                        <td mat-cell *matCellDef="let element"> {{element.precipitacao}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Direção Vento">
                        <th mat-header-cell *matHeaderCellDef> Direção Vento (°) </th>w
                        <td mat-cell *matCellDef="let element"> {{element.direcaoVento}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Velocidade Vento">
                        <th mat-header-cell *matHeaderCellDef> Velocidade Vento (m/s) </th>w
                        <td mat-cell *matCellDef="let element"> {{element.velocidadeVento}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Deficit Pressão Vapor">
                        <th mat-header-cell *matHeaderCellDef> Deficit Pressão Vapor (hPa) </th>w
                        <td mat-cell *matCellDef="let element"> {{element.deficitPressaoVapor | transform}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Radiação Solar">
                        <th mat-header-cell *matHeaderCellDef> Radiação Solar (W/m²) </th>w
                        <td mat-cell *matCellDef="let element"> {{element.radSolar}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Extra1">
                        <th mat-header-cell *matHeaderCellDef> Extra1 </th>w
                        <td mat-cell *matCellDef="let element"> {{element.extra1}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Extra2">
                        <th mat-header-cell *matHeaderCellDef> Extra2 </th>w
                        <td mat-cell *matCellDef="let element"> {{element.extra2}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Extra3">
                        <th mat-header-cell *matHeaderCellDef> Extra3 </th>w
                        <td mat-cell *matCellDef="let element"> {{element.extra3}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Extra4">
                        <th mat-header-cell *matHeaderCellDef> Extra4 </th>w
                        <td mat-cell *matCellDef="let element"> {{element.extra4}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Bateria">
                        <th mat-header-cell *matHeaderCellDef> Bateria(V) </th>w
                        <td mat-cell *matCellDef="let element"> {{element.bateria}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="Status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>w
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>
        
                    <tr class="fixed2" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; index as i; columns: displayedColumns;"
                    [ngClass]="{ 'table-background': i % 2 !== 0 }"></tr>
                </table>
            </mat-card-content>
        </mat-card>
        <mat-card class="paginator fixed3">
            <mat-card-content class="paginatorContent">
                <button mat-flat-button (click)="previousPage()" class="customButton"> << Página Anterior </button>

                <button mat-flat-button (click)="setPage(page)" *ngFor="let page of pages" [ngClass]="{ 'active': paginator === page }" class="customButton">{{page}}</button>

                <button mat-flat-button (click)="nextPage()" class="customButton" style="float:right"> <span> Próxima Página >> </span></button>
            </mat-card-content>
        </mat-card>
    </div>
</body>