.card{
    margin: 4px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.botao{
    margin-left: 16px;
    margin-bottom: 15px;
    width: 86%;
    text-align: center;
}

.title{
    padding: 25px;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.subtitle{
    padding: 25px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
