/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%;}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #fdfdfd;
}

.body{
    padding-top: 70px;
    padding-bottom: 20px;
    max-width: 82%;
    margin: auto;
}

.mainColor{
    border: 1px solid rgb(149, 117, 205) !important;
    border-radius: 10px;
}

.tableHeader{
    background-color: rgb(149, 117, 205);
    text-align: center;
}

.table-background {
    background-color: rgb(240, 232, 255) !important;
}

.table-background:hover {
    background-color: rgb(240, 232, 255) !important;
}

.tableContent table.mat-elevation-z8 td {
    font-size: 13px !important;
    font-weight: 500 !important;
    border: 0;
    text-align: center;
}

.tableContent table.mat-elevation-z8 th {
    font-size: 13px !important;
    font-weight: 500 !important;
    border: 0;
    text-align: center;
}

select{
    margin-left: 6px;
    border-radius: 6px; 
    border-width: 2px;
    border-style: solid;
}

p{
    margin-bottom: 12px !important;
}

mat-icon {
    vertical-align: middle;
}


mat-expansion-panel{
    border-radius: 0px !important;
}