/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.body{
    padding-top: 70px;
    padding-bottom: 20px;
    max-width: 85%;
    margin: auto;
}

select{
    margin-left: 5px;
    border-radius: 5px; 
    border-width: 1px; 
    border-style: solid; 
}

mat-icon {
    vertical-align: middle;
}
