<div class="body">
    <mat-card class="card">
        <mat-card-content class="consulta">
            <div class="container"> 
                <mat-form-field class="padded" appearance="outline" [formGroup]="form">
                    <mat-label class="destaque">Insira o intervalo de datas</mat-label>
                        <mat-date-range-input [min]="minDate" [max]="maxDate" [rangePicker]="picker">
                            <input matInput>
                            <input formControlName="periodoInicio" matStartDate placeholder="Data Inicial">
                            <input formControlName="periodoFim" matEndDate placeholder="Data Final">
                        </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                <mat-form-field appearance="outline" [formGroup]="form">
                    <mat-label>Insira as estações</mat-label>
                    <mat-select formControlName="estacao" multiple>
                    <mat-option *ngFor="let item of estacoes" [value]="item.numero">{{item.numero}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>  

            <div class='container' [formGroup]="form">
                <label class="destaque"> Consultar via: </label>
                <mat-checkbox color="warn" formControlName="tabela"> Tabela </mat-checkbox>
                <mat-checkbox color="warn" formControlName="grafico"> Gráfico </mat-checkbox>
                (será gerada uma lista de gráficos abaixo do formulário)
            </div>

            <div class='container' [formGroup]="form">
                <label for="intervalo" class="destaque"> Intervalo entre os dados:</label>
                <select formControlName="intervalo" name="intervalo" id="intervalo">
                    <option *ngFor="let item of periodosGrafico" [value]="item.value"> {{item.value}} </option>
                </select>
            </div>

            <div class='container'>
                <label class="destaque" color="warn"> Marcar todas: </label>
                <mat-checkbox color="warn" (click)="markAll()"> </mat-checkbox>
            </div>

            <div>
                <div class="container" [formGroup]="form">
                    <div class="row">
                        <div class="col-sm">
                            <mat-checkbox formControlName="tempAr"> Temperatura do ar </mat-checkbox>
                        </div>
                        <div class="col-sm">
                            <mat-checkbox formControlName="tempMin"> Temperatura mínima </mat-checkbox>
                        </div>
                        <div class="col-sm">
                            <mat-checkbox formControlName="tempMax"> Temperatura máxima </mat-checkbox>
                        </div>
                        <div class="col-sm">
                            <mat-checkbox formControlName="tempOrv"> Temperatura do ponto de orvalho </mat-checkbox>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <mat-checkbox formControlName="chuva"> Chuva </mat-checkbox>
                        </div>
                        <div class="col-sm">
                            <mat-checkbox formControlName="direcaoVento"> Direção do vento </mat-checkbox>
                        </div>
                        <div class="col-sm">
                            <mat-checkbox formControlName="velocidadeVento"> Velocidade do vento </mat-checkbox>
                        </div>
                        <div class="col-sm">
                            <mat-checkbox formControlName="velocidadeVentoMax"> Velocidade do vento Máxima </mat-checkbox>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <mat-checkbox formControlName="bateria"> Bateria </mat-checkbox> <br>
                        </div>
                        <div class="col-sm">
                            <mat-checkbox formControlName="radiacao"> Radiação solar global </mat-checkbox>
                        </div>
                        <div class="col-sm">
                            <mat-checkbox formControlName="pressaoATM"> Pressão atmosférica </mat-checkbox>
                        </div>
                        <div class="col-sm">
                            <mat-checkbox formControlName="indiceCalor"> Índice de calor </mat-checkbox>
                        </div>
                    </div>
                    <mat-checkbox formControlName="umidadeRelativa"> Umidade relativa </mat-checkbox>
                </div>
            </div>

        </mat-card-content>
        <mat-card-actions class="consulta">
            <div style="float:left">
                <button class="botao" mat-raised-button color="warn" (click)="consultar()" *ngIf="spinnerValue == 100"> Consultar </button>
                <button class="botao" mat-raised-button color="warn" disabled *ngIf="spinnerValue != 100"> Consultar </button>
                <button class="reset" mat-raised-button (click)="resetar()"> Resetar </button>
            </div>
            <mat-progress-spinner class="botao" *ngIf="spinnerValue != 100" (click)="resetar()"
                class="spinner"
                [diameter]="60"
                [color]="spinnerColor"
                [value]="spinnerValue">
            </mat-progress-spinner>
        </mat-card-actions>
        <span class="warning consulta" *ngIf="spinnerValue != 100"> Preencha pelo menos uma opção em cada grupo </span> 
    </mat-card>
    
    <mat-accordion class="card" *ngFor="let key of dadosGraficoKeys">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>

                <mat-panel-title>
                    ESTAÇÃO {{key}}
                </mat-panel-title>

            <mat-panel-description>
                GRÁFICO
            </mat-panel-description>

            <mat-icon> bar_chart</mat-icon>

            </mat-expansion-panel-header>

            <app-consulta-grafico [dadosGrafico]="dadosGrafico[key]"></app-consulta-grafico>

        </mat-expansion-panel>
    </mat-accordion>
    
</div>