<div id="body">
    <mat-card class="card">
        <mat-card-content>
            <div class="container">
                <form class="intervaloData" [formGroup]="form">
                    <mat-form-field appearance="fill">
                        <mat-label class="destaque">Insira o intervalo de datas</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matInput formControlName="periodo">
                            <input matStartDate placeholder="Data Inicial">
                            <input matEndDate placeholder="Data Final">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </form>

                <mat-form-field appearance="fill">
                    <mat-label>Insira as estações</mat-label>
                    <mat-select formControlName="estacao" multiple>
                    <mat-option *ngFor="let item of estacoes" [value]="item">{{item.numero}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class='container'>
                <label class="destaque"> Consultar via: </label>
                <mat-checkbox formControlName="tabela"> Tabela </mat-checkbox>
                <mat-checkbox formControlName="grafico"> Gráfico </mat-checkbox>
                <label class="destaque"> (1 ou 2 variáveis) </label>
            </div>

            <div class='container'>
                <label for="intervalo" class="destaque"> Dados médios e total:</label>
                <select formControlName="intervalo" name="intervalo" id="intervalo" (onchange)="selectIntervaloHandler">
                    <option *ngFor="let item of periodosGrafico" value="item.key"> {{item.value}} </option>
                </select>
            </div>

            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <mat-checkbox formControlName="tempAr"> Temperatura do ar </mat-checkbox>
                        </div>
                        <div class="col-sm">
                            <mat-checkbox formControlName="tempMin"> Temperatura mínima </mat-checkbox>
                        </div>
                        <div class="col-sm">
                            <mat-checkbox formControlName="tempMax"> Temperatura máxima </mat-checkbox>
                        </div>
                        <div class="col-sm">
                            <mat-checkbox formControlName="tempOrv"> Temperatura do ponto de orvalho </mat-checkbox>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <mat-checkbox formControlName="chuva"> Chuva </mat-checkbox>
                        </div>
                        <div class="col-sm">
                            <mat-checkbox formControlName="direcaoVento"> Direção do vento </mat-checkbox>
                        </div>
                        <div class="col-sm">
                            <mat-checkbox formControlName="velocidadeVento"> Velocidade do vento </mat-checkbox>
                        </div>
                        <div class="col-sm">
                            <mat-checkbox formControlName="velocidadeVentoMax"> Velocidade do vento Máxima </mat-checkbox>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <mat-checkbox formControlName="bateria"> Bateria </mat-checkbox> <br>
                        </div>
                        <div class="col-sm">
                            <mat-checkbox formControlName="radiacao"> Radiação solar global </mat-checkbox>
                        </div>
                        <div class="col-sm">
                            <mat-checkbox formControlName="pressaoATM"> Pressão atmosférica </mat-checkbox>
                        </div>
                        <div class="col-sm">
                            <mat-checkbox formControlName="indiceCalor"> Índice de calor </mat-checkbox>
                        </div>
                    </div>
                    <mat-checkbox formControlName="umidadeRelativa"> Umidade relativa </mat-checkbox>
                </div>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button class="botao" mat-raised-button color="warn" (click)="consultar"> Consultar </button>
        </mat-card-actions>

    </mat-card> 
</div>