.body{
    padding-top: 60px;
    max-width: 90%;
    margin: auto;
}

p, h1{
    padding-left: 10px;
}

.esq{
    padding-left: 10px;
}

.destaque{
    font-weight:500;
}

.padded{
    margin-right: 10px;
}

.container{
    float:left;
    margin-right: 500px;
    margin-top: 10px;
}

label { margin-left: 5px; margin-right: 5px;}

.botao{
    margin-top: 15px;
    margin-left: 23px;
    margin-bottom: 15px;
    margin-right: 50px;
    float: left;
}

.colu{
    float: left;
    width: 13%;
    color: rgb(24, 21, 21);
    margin-left: 5px;
}

#body{/*para manter o footer sempre no fim da página*/
    min-height: calc(100vh - 29px);
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card{
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.intervaloData{
    float: left;
    margin-right: 5px;
}

.spinner{
    width: 20px;
    height: 20px;
}

.warning{
    padding-top: 5px;
    padding-left: 23px;
    color:red;
    font-size: 15px;
}