<div class="body">
    <mat-card class="card">
        <mat-card-content class="consulta">
            
            <div class="container"> 
                <mat-form-field class="padded" appearance="outline" [formGroup]="form">
                    <mat-label class="destaque">Insira o intervalo de datas</mat-label>
                        <mat-date-range-input [min]="minDate" [max]="maxDate" [rangePicker]="picker">
                            <input matInput>
                            <input formControlName="periodoInicio" matStartDate placeholder="Data Inicial" readonly>
                            <input formControlName="periodoFim" matEndDate placeholder="Data Final" readonly>
                        </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>

                <mat-form-field appearance="outline" [formGroup]="form">
                    <mat-label>Insira as estações</mat-label>
                    <mat-select formControlName="estacao" multiple>
                        <mat-option *ngFor="let item of estacoes" [value]="item.numero">{{item.numero}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>  

            <div class='container' [formGroup]="form">
                <label class="destaque"> Consultar via: </label>
                <mat-checkbox color="warn" formControlName="tabela"> Tabela </mat-checkbox> <label class="destaque" style="margin-left: 10px;"> ou </label>
                <mat-checkbox color="warn" formControlName="grafico"> Gráfico </mat-checkbox>
                <ng-container *ngIf="this.form.get('grafico')?.value"> <span style="color:blue;"> (Escolha uma ou duas unidades de medida por gráfico) </span></ng-container> 
            </div>

            <div class='container' [formGroup]="form">
                <label for="intervalo" class="destaque"> Intervalo entre os dados:</label>
                <select formControlName="intervalo" name="intervalo" id="intervalo" [ngClass]="{ 'red-border': this.form.get('intervalo')?.value == null, 'green-border': this.form.get('intervalo')?.value != null}">
                    <option *ngFor="let item of periodosGrafico" [value]="item.value"> {{item.value}} </option>
                </select>
            </div>
            
            <ng-container>

                <div class='container' *ngIf="this.form.get('tabela')?.value">
                    <label class="destaque" color="warn"> Marcar todas: </label>
                    <mat-checkbox color="warn" (click)="markAll()" [checked]="false"> </mat-checkbox>
                </div>

                <div>
                    <div class="container" [formGroup]="form">
                        <div class="row">
                            <div class="col-sm">
                                <mat-checkbox formControlName="tempAr"> Temperatura do ar <span *ngIf="this.form.get('grafico')?.value">(°C)</span> </mat-checkbox>
                                <div class="colorPicker" *ngIf="this.form.get('grafico')?.value">
                                    <ng-container *ngIf="this.form.get('tempAr')?.value">
                                        <ng-container [formGroup]="form4"> 
                                            <ngx-colors formControlName="tempArColor" class="colorPicker" ngx-colors-trigger mode="rgba"> Cor </ngx-colors>
                                        </ng-container>
                                        <ng-cointainer [formGroup]="form3">
                                            <span class="formato">
                                                <select formControlName="tempArType">
                                                    <option *ngFor="let tipo of tiposDoGrafico" [value]="tipo.value"> {{tipo.key}} </option>
                                                </select>
                                            </span>
                                        </ng-cointainer>    
                                    </ng-container>
                                </div>
                                
                            </div>
                            <div class="col-sm">
                                <mat-checkbox formControlName="indiceCalor"> Índice de calor <span *ngIf="this.form.get('grafico')?.value">(°C)</span> </mat-checkbox>

                                <div class="colorPicker" *ngIf="this.form.get('grafico')?.value">
                                    <ng-container *ngIf="this.form.get('indiceCalor')?.value">
                                        <ng-container [formGroup]="form4"> 
                                            <ngx-colors formControlName="indiceCalorColor" class="colorPicker" ngx-colors-trigger mode="rgba"> Cor </ngx-colors>
                                        </ng-container>
                                        <ng-container [formGroup]="form3">
                                            <span class="formato">
                                                <select formControlName="indiceCalorType">
                                                    <option *ngFor="let tipo of tiposDoGrafico" [value]="tipo.value"> {{tipo.key}} </option>
                                                </select>
                                            </span>
                                        </ng-container>
                                    </ng-container>
                                </div>

                            </div>
                            <div class="col-sm">
                                <mat-checkbox formControlName="pressaoATM"> Pressão atmosférica <span *ngIf="this.form.get('grafico')?.value">(hPa)</span></mat-checkbox>

                                <div class="colorPicker" *ngIf="this.form.get('grafico')?.value">
                                    <ng-container *ngIf="this.form.get('pressaoATM')?.value">
                                        <ng-container [formGroup]="form4"> 
                                            <ngx-colors formControlName="pressaoATMColor" class="colorPicker" ngx-colors-trigger mode="rgba"> Cor </ngx-colors>
                                        </ng-container>
                                        <ng-container [formGroup]="form3">
                                            <span class="formato">
                                                <select formControlName="pressaoATMType">
                                                    <option *ngFor="let tipo of tiposDoGrafico" [value]="tipo.value"> {{tipo.key}} </option>
                                                </select>
                                            </span>
                                        </ng-container>
                                    </ng-container>
                                </div>

                            </div>
                            <div class="col-sm">
                                <mat-checkbox formControlName="direcaoVento"> Direção do vento <span *ngIf="this.form.get('grafico')?.value">(°)</span></mat-checkbox>

                                <div class="colorPicker" *ngIf="this.form.get('grafico')?.value">
                                    <ng-container *ngIf="this.form.get('direcaoVento')?.value">
                                        <ng-container [formGroup]="form4"> 
                                            <ngx-colors formControlName="direcaoVentoColor" class="colorPicker" ngx-colors-trigger mode="rgba"> Cor </ngx-colors>
                                        </ng-container>
                                        <ng-container [formGroup]="form3">
                                            <span class="formato">
                                                <select formControlName="direcaoVentoType">
                                                    <option *ngFor="let tipo of tiposDoGrafico" [value]="tipo.value"> {{tipo.key}} </option>
                                                </select>
                                            </span>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <mat-checkbox formControlName="tempMin"> Temperatura mínima <span *ngIf="this.form.get('grafico')?.value">(°C)</span> </mat-checkbox>

                                <div class="colorPicker" *ngIf="this.form.get('grafico')?.value">
                                    <ng-container *ngIf="this.form.get('tempMin')?.value">
                                        <ng-container [formGroup]="form4"> 
                                            <ngx-colors formControlName="tempMinColor" class="colorPicker" ngx-colors-trigger mode="rgba"> Cor </ngx-colors>
                                        </ng-container>
                                        <ng-container [formGroup]="form3">
                                            <span class="formato">
                                                <select formControlName="tempMinType">
                                                    <option *ngFor="let tipo of tiposDoGrafico" [value]="tipo.value"> {{tipo.key}} </option>
                                                </select>
                                            </span>
                                        </ng-container>
                                    </ng-container>
                                </div>

                            </div>
                            <div class="col-sm">
                                <mat-checkbox formControlName="umidadeRelativa"> Umidade relativa <span *ngIf="this.form.get('grafico')?.value">(%)</span></mat-checkbox>

                                <div class="colorPicker" *ngIf="this.form.get('grafico')?.value">
                                    <ng-container *ngIf="this.form.get('umidadeRelativa')?.value">
                                        <ng-container [formGroup]="form4"> 
                                            <ngx-colors formControlName="umidadeRelativaColor" class="colorPicker" ngx-colors-trigger mode="rgba"> Cor </ngx-colors>
                                        </ng-container>
                                        <ng-container [formGroup]="form3">
                                            <span class="formato">
                                                <select formControlName="umidadeRelativaType">
                                                    <option *ngFor="let tipo of tiposDoGrafico" [value]="tipo.value"> {{tipo.key}} </option>
                                                </select>
                                            </span>
                                        </ng-container>
                                    </ng-container>
                                </div>

                            </div>
                            <div class="col-sm">
                                <mat-checkbox formControlName="velocidadeVento"> Velocidade do vento <span *ngIf="this.form.get('grafico')?.value">(m/s)</span></mat-checkbox>

                                <div class="colorPicker" *ngIf="this.form.get('grafico')?.value">
                                    <ng-container *ngIf="this.form.get('velocidadeVento')?.value">
                                        <ng-container [formGroup]="form4"> 
                                            <ngx-colors formControlName="velocidadeVentoColor" class="colorPicker" ngx-colors-trigger mode="rgba"> Cor </ngx-colors>
                                        </ng-container>
                                        <ng-container [formGroup]="form3">
                                            <span class="formato">
                                                <select formControlName="velocidadeVentoType">
                                                    <option *ngFor="let tipo of tiposDoGrafico" [value]="tipo.value"> {{tipo.key}} </option>
                                                </select>
                                            </span>
                                        </ng-container>
                                    </ng-container>
                                </div>

                            </div>
                            <div class="col-sm">
                                <mat-checkbox formControlName="radiacao"> Radiação solar global <span *ngIf="this.form.get('grafico')?.value">(W/m²)</span></mat-checkbox>

                                <div class="colorPicker" *ngIf="this.form.get('grafico')?.value">
                                    <ng-container *ngIf="this.form.get('radiacao')?.value">
                                        <ng-container [formGroup]="form4"> 
                                            <ngx-colors formControlName="radiacaoColor" class="colorPicker" ngx-colors-trigger mode="rgba"> Cor </ngx-colors>
                                        </ng-container>
                                        <ng-container [formGroup]="form3">
                                            <span class="formato">
                                                <select formControlName="radiacaoType">
                                                    <option *ngFor="let tipo of tiposDoGrafico" [value]="tipo.value"> {{tipo.key}} </option>
                                                </select>
                                            </span>
                                        </ng-container>
                                    </ng-container>
                                </div> 

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <mat-checkbox formControlName="tempMax"> Temperatura máxima <span *ngIf="this.form.get('grafico')?.value">(°C)</span> </mat-checkbox>

                                <div class="colorPicker" *ngIf="this.form.get('grafico')?.value">
                                    <ng-container *ngIf="this.form.get('tempMax')?.value">
                                        <ng-container [formGroup]="form4"> 
                                            <ngx-colors formControlName="tempMaxColor" class="colorPicker" ngx-colors-trigger mode="rgba"> Cor </ngx-colors>
                                        </ng-container>
                                        <ng-container [formGroup]="form3">
                                            <span class="formato">
                                                <select formControlName="tempMaxType">
                                                    <option *ngFor="let tipo of tiposDoGrafico" [value]="tipo.value"> {{tipo.key}} </option>
                                                </select>
                                            </span>
                                        </ng-container>
                                    </ng-container>
                                </div> 

                            </div>
                            <div class="col-sm">
                                <mat-checkbox formControlName="chuva"> Chuva Acumulada <span *ngIf="this.form.get('grafico')?.value">(mm)</span></mat-checkbox>

                                <div class="colorPicker" *ngIf="this.form.get('grafico')?.value">
                                    <ng-container *ngIf="this.form.get('chuva')?.value">
                                        <ng-container [formGroup]="form4">
                                            <ngx-colors formControlName="chuvaColor" class="colorPicker" ngx-colors-trigger mode="rgba"> Cor </ngx-colors>
                                        </ng-container>
                                        <ng-container [formGroup]="form3">
                                            <span class="formato">
                                                <select formControlName="chuvaType">
                                                    <option *ngFor="let tipo of tiposDoGrafico" [value]="tipo.value"> {{tipo.key}} </option>
                                                </select>
                                            </span>
                                        </ng-container>
                                    </ng-container>
                                </div> 

                            </div>
                            <div class="col-sm">
                                <mat-checkbox formControlName="velocidadeVentoMax"> Velocidade do vento Máxima <span *ngIf="this.form.get('grafico')?.value">(m/s)</span></mat-checkbox>

                                <div class="colorPicker" *ngIf="this.form.get('grafico')?.value" >
                                    <ng-container *ngIf="this.form.get('velocidadeVentoMax')?.value">
                                        <ng-container [formGroup]="form4"> 
                                            <ngx-colors formControlName="velocidadeVentoMaxColor" class="colorPicker" ngx-colors-trigger mode="rgba"> Cor </ngx-colors>
                                        </ng-container>
                                        <ng-container [formGroup]="form3">
                                            <span class="formato">
                                                <select formControlName="velocidadeVentoMaxType">
                                                    <option *ngFor="let tipo of tiposDoGrafico" [value]="tipo.value"> {{tipo.key}} </option>
                                                </select>
                                            </span>
                                        </ng-container>
                                    </ng-container>
                                </div> 

                            </div>
                            <div class="col-sm">
                                <mat-checkbox formControlName="bateria"> Bateria <span *ngIf="this.form.get('grafico')?.value">(v)</span> </mat-checkbox>
                                <div class="colorPicker" *ngIf="this.form.get('grafico')?.value">
                                    <ng-container *ngIf="this.form.get('bateria')?.value">
                                        <ng-container [formGroup]="form4"> 
                                            <ngx-colors formControlName="bateriaColor" class="colorPicker" ngx-colors-trigger mode="rgba"> Cor </ngx-colors>
                                        </ng-container>
                                        <ng-cointainer [formGroup]="form3">
                                            <span class="formato">
                                                <select formControlName="bateriaType">
                                                    <option *ngFor="let tipo of tiposDoGrafico" [value]="tipo.value"> {{tipo.key}} </option>
                                                </select>
                                            </span>
                                        </ng-cointainer>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <mat-checkbox formControlName="tempOrv"> T° Ponto de orvalho <span *ngIf="this.form.get('grafico')?.value">(°C)</span> </mat-checkbox>
                        <div class="colorPicker" *ngIf="this.form.get('grafico')?.value">
                            <ng-container *ngIf="this.form.get('tempOrv')?.value">
                                <ng-container [formGroup]="form4"> 
                                    <ngx-colors formControlName="tempOrvColor" class="colorPicker" ngx-colors-trigger mode="rgba"> Cor </ngx-colors>
                                </ng-container>
                                <ng-container [formGroup]="form3">
                                    <span class="formato">
                                        <select formControlName="tempOrvType">
                                            <option *ngFor="let tipo of tiposDoGrafico" [value]="tipo.value"> {{tipo.key}} </option>
                                        </select>
                                    </span>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <ng-container *ngIf="this.form.get('grafico')?.value" [formGroup]="form2">

                    <div class='container preferencias' *ngIf="this.form.get('tempAr')?.value || this.form.get('tempMin')?.value || this.form.get('tempMax')?.value || this.form.get('tempOrv')?.value || this.form.get('indiceCalor')?.value">
                        <label class="destaque"> Preferência Temperaturas (°C) </label> <br>
                        <mat-radio-group formControlName="tempArSide" (change)="atualizarUnidadesSimilares(['tempArSide', 'tempMinSide', 'tempMaxSide', 'tempOrvSide', 'indiceCalorSide'], $event.value)">
                            <mat-radio-button color="warn" value="left"> Esquerda </mat-radio-button>
                            <mat-radio-button color="primary" value="right"> Direita </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class='container preferencias' *ngIf="this.form.get('umidadeRelativa')?.value">
                        <label class="destaque"> Preferência Umidade (%) </label> <br>
                        <mat-radio-group formControlName="umidadeRelativaSide">
                            <mat-radio-button color="warn" value="left"> Esquerda </mat-radio-button>
                            <mat-radio-button color="primary" value="right"> Direita </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class='container preferencias' *ngIf="this.form.get('chuva')?.value">
                        <label class="destaque"> Preferência Chuva (mm) </label> <br>
                        <mat-radio-group formControlName="chuvaSide">
                            <mat-radio-button color="warn" value="left"> Esquerda </mat-radio-button>
                            <mat-radio-button color="primary" value="right"> Direita </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class='container preferencias' *ngIf="this.form.get('pressaoATM')?.value">
                        <label class="destaque"> Preferência Pressão (hPa) </label> <br>
                        <mat-radio-group formControlName="pressaoATMSide">
                            <mat-radio-button color="warn" value="left"> Esquerda </mat-radio-button>
                            <mat-radio-button color="primary" value="right"> Direita </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class='container preferencias' *ngIf="this.form.get('direcaoVento')?.value">
                        <label class="destaque"> Preferência Direção do Vento (°) </label> <br>
                        <mat-radio-group formControlName="direcaoVentoSide">
                            <mat-radio-button color="warn" value="left"> Esquerda </mat-radio-button>
                            <mat-radio-button color="primary" value="right"> Direita </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class='container preferencias' *ngIf="this.form.get('velocidadeVento')?.value || this.form.get('velocidadeVentoMax')?.value">
                        <label class="destaque"> Preferência Velocidade do Vento (m/s) </label> <br>
                        <mat-radio-group formControlName="velocidadeVentoSide" (change)="atualizarUnidadesSimilares(['velocidadeVentoSide', 'velocidadeVentoMaxSide'], $event.value)">
                            <mat-radio-button color="warn" value="left"> Esquerda </mat-radio-button>
                            <mat-radio-button color="primary" value="right"> Direita </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class='container preferencias' *ngIf="this.form.get('radiacao')?.value">
                        <label class="destaque"> Preferência Radiação Solar (W/m²) </label> <br>
                        <mat-radio-group formControlName="radiacaoSide">
                            <mat-radio-button color="warn" value="left"> Esquerda </mat-radio-button>
                            <mat-radio-button color="primary" value="right"> Direita </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class='container preferencias' *ngIf="this.form.get('bateria')?.value">
                        <label class="destaque"> Preferência Bateria (v) </label> <br>
                        <mat-radio-group formControlName="bateriaSide">
                            <mat-radio-button color="warn" value="left"> Esquerda </mat-radio-button>
                            <mat-radio-button color="primary" value="right"> Direita </mat-radio-button>
                        </mat-radio-group>
                    </div>

                </ng-container>
            </ng-container>
        </mat-card-content>

        <ng-container *ngIf="this.form.get('tabela')?.value || this.form.get('grafico')?.value">
            <mat-card-actions class="consulta">
                <div style="float:left">

                    <ng-container *ngIf="this.form.get('tabela')?.value">
                        <button class="botao" mat-raised-button [ngStyle]="{ 'background-color': 'RGB(85, 139, 47)'}" (click)="consultarTabela()" *ngIf="spinnerValue == 100"> Gerar Tabela (.csv) </button>
                        <button class="botao" mat-raised-button color="warn" disabled *ngIf="spinnerValue != 100"> Gerar Tabela (.csv)</button>
                        <button class="reset" mat-raised-button [ngStyle]="{ 'background-color': 'RGB(255, 44, 44)'}" (click)="resetarForm1()"> Resetar Escolhas </button>
                    </ng-container>

                    <ng-container *ngIf="this.form.get('grafico')?.value">
                        <button class="botao" mat-raised-button [ngStyle]="{ 'background-color': 'RGB(85, 139, 47)'}" (click)="consultarGrafico()" *ngIf="spinnerValue == 100"> Gerar Gráfico (Nova Janela) </button>
                        <button class="botao" mat-raised-button color="warn" disabled *ngIf="spinnerValue != 100"> Gerar Gráfico (Nova Janela) </button>
                        <button class="reset" mat-raised-button [ngStyle]="{ 'background-color': 'RGB(255, 44, 44)'}" (click)="resetarForm1()"> Resetar Escolhas </button>

                        <button class="reset" mat-raised-button [ngStyle]="{ 'background-color': 'RGB(21, 101, 192)'}" (click)="openDialog()"> <span> Preferências <mat-icon class="preferencesIcon">settings</mat-icon> </span> </button>
                    </ng-container>
                </div>
                <mat-progress-spinner class="botao" *ngIf="spinnerValue != 100"
                    class="spinner"
                    [diameter]="60"
                    [color]="spinnerColor"
                    [value]="spinnerValue">
                </mat-progress-spinner>
            </mat-card-actions>
            
            <span class="warning consulta" *ngIf="spinnerValue != 100"> Preencha pelo menos uma opção em cada grupo </span> 
        </ng-container>
        <span class="warning consulta" *ngIf="!this.form.get('tabela')?.value && !this.form.get('grafico')?.value" > > Para aparecerem todas as opções escolha entre tabela ou gráfico < </span>
    </mat-card>
</div>