.body{
    padding-top: 50px;
    max-width: 90%;
    margin: auto;
}

.card{
    margin: 5px;
}

.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
}

.padded{
    padding-top: 15px;
    padding-left: 15px;
}

.botao{
    margin-left: 25px;
    margin-bottom: 15px;
}

.title{
    padding: 25px;
    font-size: 22px;
    font-weight: 400;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}