<mat-card class="card" *ngIf="!logado">
    <mat-card-header class="title">
        Login
    </mat-card-header>
    <mat-card-content [formGroup]="form">
        <mat-form-field appearance="outline" class="padded">
            <mat-label>Usuário:</mat-label>
            <input formControlName="usuario" matInput>
            <button mat-icon-button matSuffix>
                <mat-icon>assignment_ind</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field appearance="outline" class="padded">
            <mat-label>Senha:</mat-label>
            <input formControlName="senha" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="warn" class="botao" (click)="confirmar()"> Entrar </button>
        <button mat-raised-button class="botao" (click)="closeDialog()"> Cancelar </button>
    </mat-card-actions>
</mat-card>
<mat-card class="card" *ngIf="logado">
    <mat-card-header class="title" *ngIf="admin">
        Você está logado como <strong> Administrador </strong>
    </mat-card-header>
    <mat-card-header class="title" *ngIf="!admin">
        Você está logado como <strong> Moderador </strong>
    </mat-card-header>
    <mat-card-actions>
        <button mat-raised-button color="primary" class="botao" routerLink="/admin" *ngIf="admin" (click)="closeDialog()"> Configurações </button>
        <button mat-raised-button class="botao" (click)="closeDialog()"> Retornar </button>
        <button mat-raised-button color="warn" class="botao" (click)="logout()"> Deslogar </button>
    </mat-card-actions>
</mat-card>