<div class="body">
    <div *ngIf="(estacaoSelecionada && logado)">
        <mat-card class="card">
            <mat-card-header>
                <p class="title"> Dados originais - Estação de ID: ({{estacaoSelecionada.numero}})</p>
            </mat-card-header>
            <mat-card-content class="cardContent">
                <div style="display: flex; flex-wrap: wrap;">
                    
                    <div style="padding-right: 30px;">
                        <strong> Nome: </strong> {{estacaoSelecionada.nome}} <br>
                        <strong> Latitude: </strong> {{estacaoSelecionada.latitude}} <br>
                        <strong> Longitude: </strong> {{estacaoSelecionada.longitude}} <br>
                        <strong> Data Inicio: </strong> {{estacaoSelecionada.dataInicio | date : 'dd/MM/yyyy'}} <br>
                    </div>
           
                    <br>

                    <div style="padding-right: 30px;">
                        <strong> Altura: </strong> {{estacaoSelecionada.altura}}m <br>
                        <strong> Altitude: </strong> {{estacaoSelecionada.altitude}}m <br>
                        <strong> Status: </strong> <span [ngStyle]="{ 'color': status[estacaoSelecionada.status] == 'Desligada' ? 'red' : status[estacaoSelecionada.status] == 'Funcionando' ? 'green' : 'blue' }" 
                        *ngIf="status[estacaoSelecionada.status]">{{status[estacaoSelecionada.status]}}</span> <br>
                        <strong> Data Fim: </strong> {{estacaoSelecionada.dataFim | date : 'dd/MM/yyyy'}} <br>
                    </div>
                    
                    <br>

                    <div style="padding-right: 30px;">
                        <strong> Operador: </strong> {{estacaoSelecionada.operador}} <br>
                        <strong> Modelo: </strong> {{estacaoSelecionada.modelo}} <br>
                        <strong> Tipos de Sensores: </strong> {{estacaoSelecionada.tiposDeSensores}} <br>
                        <strong> Ultima Calibração: </strong> {{estacaoSelecionada.ultimaCalibracao | date : 'dd/MM/yyyy'}} <br>
                    </div>
                    
                </div> 
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <p class="title"> Editar dados para a Estação de ID: ({{estacaoSelecionada.numero}})</p>
                <p class="subtitle"> Tudo que não for editado permanecerá com o mesmo valor do dado original</p>
            </mat-card-header>
            <mat-card-content [formGroup]="form">

                <mat-form-field appearance="outline" class="padded">
                    <mat-label>Nome:</mat-label>
                    <input formControlName="nome" matInput>
                </mat-form-field>
                <mat-form-field  appearance="outline" class="padded">
                    <mat-label>Status:</mat-label>
                    <mat-select formControlName="status">
                        <mat-option *ngFor="let item of statusList" [value]="item.value">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="padded">
                    <mat-label>Operador:</mat-label>
                    <input formControlName="operador" matInput>
                </mat-form-field>

                <br>

                <mat-form-field appearance="outline" class="padded">
                    <mat-label>Latitude:</mat-label>
                    <input formControlName="latitude" matInput>
                </mat-form-field>
                <mat-form-field appearance="outline" class="padded">
                    <mat-label>Longitude:</mat-label>
                    <input formControlName="longitude" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" class="padded">
                    <mat-label>Tipos de Sensores:</mat-label>
                    <input formControlName="sensores" matInput>
                </mat-form-field>
                
                <br>

                <mat-form-field appearance="outline" class="padded">
                    <mat-label>Altitude:</mat-label>
                    <input formControlName="altitude" matInput>
                </mat-form-field>
                <mat-form-field appearance="outline" class="padded">
                    <mat-label>Altura:</mat-label>
                    <input formControlName="altura" matInput>
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="padded">
                    <mat-label>Modelo:</mat-label>
                    <input formControlName="modelo" matInput>
                </mat-form-field>

                <br>

                <mat-form-field appearance="outline" class="padded">
                    <mat-label>Data Inicio:</mat-label>
                    <input formControlName="inicio" matInput>
                </mat-form-field>
                <mat-form-field appearance="outline" class="padded">
                    <mat-label>Data Fim:</mat-label>
                    <input formControlName="fim" matInput>
                </mat-form-field>
                <mat-form-field appearance="outline" class="padded">
                    <mat-label>Última calibração:</mat-label>
                    <input formControlName="calibracao" matInput>
                </mat-form-field>

            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button color="warn" class="botao" (click)="confirmar()"> Confirmar </button>
                <button mat-raised-button class="botao" routerLink="/estacoes"> Cancelar </button>
            </mat-card-actions>

        </mat-card>
    </div>
    <mat-card class="card" *ngIf="(!estacaoSelecionada || !logado)">
        <mat-card-content class="cardContent">
            <p> A estação não existe ou você não está logado como administrador</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class="botao" routerLink="/estacoes"> Cancelar </button>
        </mat-card-actions>
    </mat-card>
</div> 