<div class="body">
    <mat-card class="card" *ngFor="let item of estacoes"  >
        <mat-card-content class="cardContent">
            Numero da estação: {{item.numero}} <br>
            Nome da estação: {{item.nome}} <br>
            Latitude: {{item.latitude}} <br>
            Longitude: {{item.longitude}} <br>
            Altitude: {{item.altitude}} <br>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="warn" class="botao"> Confirmar </button>
            <button mat-raised-button class="botao" routerLink="/estacoes"> Cancelar </button>
        </mat-card-actions>
    </mat-card>
</div> 