<div class="body">
    <div *ngIf="estacaoSelecionada">
        <mat-card class="card">
            <mat-card-header>
                <p class="title"> Dados originais - Estação de ID: ({{estacaoSelecionada.numero}})</p>
            </mat-card-header>
            <mat-card-content class="cardContent">
                <div style="display: flex; flex-flow: row nowrap;">
                    <div style="padding-right: 20px;">
                        <strong> Nome: </strong> {{estacaoSelecionada.nome}} <br><br>
                        <strong> Latitude: </strong> {{estacaoSelecionada.latitude}} <br><br>
                        <strong> Longitude: </strong> {{estacaoSelecionada.longitude}} <br>
                    </div>
                    <div style="display: inline-block; vertical-align: top;">
                            <strong> Altura: </strong> {{estacaoSelecionada.altura}}m <br><br>
                            <strong> Altitude: </strong> {{estacaoSelecionada.altitude}}m <br><br>
                            <strong> Status: </strong> {{estacaoSelecionada.status}} <br>
                    </div>
                </div>  
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <p class="title"> Editar dados para a Estação de ID: ({{estacaoSelecionada.numero}})</p>
                <p class="subtitle"> Tudo que não for editado permanecerá com o mesmo valor do dado original</p>
            </mat-card-header>
            <mat-card-content [formGroup]="form">
                <mat-form-field appearance="outline" class="padded">
                    <mat-label>Nome:</mat-label>
                    <input formControlName="nome" matInput>
                </mat-form-field>
                <mat-form-field  appearance="outline" class="padded">
                    <mat-label>Status:</mat-label>
                    <input formControlName="status" matInput>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline" class="padded">
                    <mat-label>Latitude:</mat-label>
                    <input formControlName="latitude" matInput>
                </mat-form-field>
                <mat-form-field appearance="outline" class="padded">
                    <mat-label>Longitude:</mat-label>
                    <input formControlName="longitude" matInput>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline" class="padded">
                    <mat-label>Altitude:</mat-label>
                    <input formControlName="altitude" matInput>
                </mat-form-field>
                <mat-form-field appearance="outline" class="padded">
                    <mat-label>Altura:</mat-label>
                    <input formControlName="altura" matInput>
                </mat-form-field>
                <br>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="warn" class="botao" (click)="confirmar()"> Confirmar </button>
                <button mat-raised-button class="botao" routerLink="/estacoes"> Cancelar </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <mat-card class="card" *ngIf="!estacaoSelecionada">
        <mat-card-content class="cardContent">
            <p> A estação não existe ou você não está logado como administrador</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class="botao" routerLink="/estacoes"> Cancelar </button>
        </mat-card-actions>
    </mat-card>
</div> 