<div class="body">
    <mat-card class="card" *ngFor="let item of estacoes | async"  >
        <mat-card-content class="cardContent">

            <strong> Estação ({{item.numero}}) </strong> - Nome: {{item.nome}} <br>
            <strong> Lat.: </strong> {{item.latitude.toFixed(6)}}  
            <strong> Lon.: </strong> {{item.longitude.toFixed(6)}} <br>
            <strong> Altitude: </strong> {{item.altitude}}  
            <strong> Altura </strong> {{item.altura}} <br>
            <strong> Status: </strong> {{item.status}}

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="warn" class="botao" routerLink="editar"> Editar </button>
        </mat-card-actions>
    </mat-card>
</div>
<router-outlet></router-outlet>
