.body{
    padding-top: 50px;
    max-width: 90%;
    margin: auto;
}

.card{
    margin: 10px;
    width: 32%;
    float: left;
}

.cardContent{
    padding: 10px;
}

.botao{
    margin-left: 10px;
    margin-bottom: 15px;
}
