<body>
    <div class="body">
        <mat-accordion class="card" *ngFor="let item of estacoes | async">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong> Estação de ID: ({{item.numero}}) </strong>
                </mat-panel-title>
                <mat-panel-description>
                    Nome: {{item.nome}}
                </mat-panel-description>
              </mat-expansion-panel-header>
                <strong> Nome:  </strong> {{item.nome}}  <br>
                <strong> Lat.: </strong> {{item.latitude.toFixed(6)}}  <br>
                <strong> Lon.: </strong> {{item.longitude.toFixed(6)}} <br>
                <strong> Altitude: </strong> {{item.altitude}}m  <br>
                <strong> Altura </strong> {{item.altura}}m <br>
                <strong> Status: </strong> {{item.status}} <br>
                <button  mat-raised-button color="warn" class="botao" *ngIf="logado" [routerLink]="['editar', item.numero]">Editar</button>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</body>
<router-outlet></router-outlet>
