<body>
  <div class="body">
    <mat-card class="card">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon style="color:green" class="example-tab-icon">wifi</mat-icon>
            <span style="color:green"> Funcionando </span>
          </ng-template>
          <mat-accordion *ngFor="let item of estacoes | async">
            <ng-container *ngIf="item.status == 0">
              <ng-container>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <strong> Estação ID: ({{ item.numero }}) </strong>
                    </mat-panel-title>
                    <mat-panel-description>
                      {{ item.nome }}
                      <span class="modified" *ngIf="verificarAlteracao(item.ultimaModificacao)"> Modificada Recentemente! </span>
                    </mat-panel-description>
                    <mat-icon style="color:green">settings_input_antenna</mat-icon>
                  </mat-expansion-panel-header>

                  <div class="divided">
                    
                    <div class="divLeft">
                      <strong> Nome: </strong> {{ item.nome }} <br />
                      <strong> Latitude: </strong> {{ item.latitude.toFixed(6) }}<br />
                      <strong> Longitude: </strong> {{ item.longitude.toFixed(6) }}<br />
                      <strong> Altitude: </strong> {{ item.altitude }}m <br />
                      <strong> Altura </strong> {{ item.altura }}m <br />
                      <strong> Status: </strong>
                      <span [ngStyle]="{color: status[item.status] == 'Desligada' ? 'red' : status[item.status] == 'Funcionando' ? 'green' : 'blue'}" *ngIf="status[item.status]">
                        {{ status[item.status] }} </span> <br/><br/>

                      <span *ngIf="logado">
                        <strong> Última modificação: </strong>
                        {{ item.ultimaModificacao | date : "dd/MM/yyyy" }} ,
                        {{ item.ultimaModificacao | date : "HH:mm" }} <br />
                      </span>

                      <button mat-raised-button color="warn" class="botao" *ngIf="logado" [routerLink]="['editar', item.numero]">
                        Editar<mat-icon>assignment_ind</mat-icon>
                      </button>

                    </div>

                    <div class="divRight">
                      <strong> Operador: </strong> {{ item.operador }} <br/>
                      <strong> Modelo: </strong> {{ item.modelo }} <br/>
                      <strong> Inicio da Operação: </strong> {{ item.dataInicio | date : "dd/MM/yyyy" }}<br/>
                      <strong> Fim da Operação : </strong> {{ item.dataFim | date : "dd/MM/yyyy" }} <br />
                      <strong> Última Calibração: </strong> {{ item.ultimaCalibracao | date : "dd/MM/yyyy" }} <br />
                      <strong> Tipos de Sensores: </strong> {{ item.tiposDeSensores }}
                    </div>

                  </div>

                </mat-expansion-panel>
              </ng-container>
            </ng-container>
          </mat-accordion>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon style="color:blue" class="example-tab-icon">pause</mat-icon>
            <span style="color:blue"> Em Manutenção </span>
          </ng-template>
          <mat-accordion *ngFor="let item of estacoes | async">
            <ng-container>
              <ng-container *ngIf="item.status == 2">
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <strong> Estação ID: ({{ item.numero }}) </strong>
                    </mat-panel-title>
                    <mat-panel-description>
                      {{ item.nome }}
                      <span class="modified" *ngIf="verificarAlteracao(item.ultimaModificacao)"> Modificada Recentemente! </span>
                    </mat-panel-description>
                    <mat-icon style="color:blue">settings_input_antenna</mat-icon>
                  </mat-expansion-panel-header>

                  <div class="divided">

                    <div class="divLeft">
                      <strong> Nome: </strong> {{ item.nome }} <br />
                      <strong> Lat.: </strong> {{ item.latitude.toFixed(6) }} <br />
                      <strong> Lon.: </strong> {{ item.longitude.toFixed(6) }}
                      <br />
                      <strong> Altitude: </strong> {{ item.altitude }}m <br />
                      <strong> Altura </strong> {{ item.altura }}m <br />
                      <strong> Status: </strong>
                      <span [ngStyle]="{ color: status[item.status] == 'Desligada'? 'red': status[item.status] == 'Funcionando' ? 'green' : 'blue'}" *ngIf="status[item.status]">
                        {{ status[item.status] }} </span
                      ><br />
                      <span *ngIf="logado">
                        <strong> Última modificação: </strong>
                        {{ item.ultimaModificacao | date : "dd/MM/yyyy" }} ,
                        {{ item.ultimaModificacao | date : "HH:mm" }} <br />
                      </span>
                      <button
                        mat-raised-button
                        color="warn"
                        class="botao"
                        *ngIf="logado"
                        [routerLink]="['editar', item.numero]"
                      >
                        Editar<mat-icon>assignment_ind</mat-icon>
                      </button>
                    </div>

                    <div class="divRight">
                      <strong> Operador: </strong> {{ item.operador }} <br/>
                      <strong> Modelo: </strong> {{ item.modelo }} <br/>
                      <strong> Inicio da Operação: </strong> {{ item.dataInicio | date : "dd/MM/yyyy" }}<br/>
                      <strong> Fim da Operação : </strong> {{ item.dataFim | date : "dd/MM/yyyy" }} <br />
                      <strong> Última Calibração: </strong> {{ item.ultimaCalibracao | date : "dd/MM/yyyy" }} <br />
                      <strong> Tipos de Sensores: </strong> {{ item.tiposDeSensores }}
                    </div>

                  </div>          
                </mat-expansion-panel>
              </ng-container>
            </ng-container>
          </mat-accordion>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon style="color:red" class="example-tab-icon">wifi_off</mat-icon>
            <span style="color:red">Desligadas</span>
          </ng-template>

          <mat-accordion *ngFor="let item of estacoes | async">
            <ng-container>
              <ng-container *ngIf="item.status == 1">
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <strong> Estação ID: ({{ item.numero }}) </strong>
                    </mat-panel-title>
                    <mat-panel-description>
                        {{ item.nome }}
                        <span class="modified" *ngIf="verificarAlteracao(item.ultimaModificacao)"> Modificada Recentemente! </span>
                    </mat-panel-description>
                    <mat-icon style="color:red">settings_input_antenna</mat-icon>
                  </mat-expansion-panel-header>

                  <div class="divided">

                    <div class="divLeft">
                      <strong> Nome: </strong> {{ item.nome }} <br />
                      <strong> Lat.: </strong> {{ item.latitude.toFixed(6) }} <br />
                      <strong> Lon.: </strong> {{ item.longitude.toFixed(6) }}
                      <br />
                      <strong> Altitude: </strong> {{ item.altitude }}m <br />
                      <strong> Altura </strong> {{ item.altura }}m <br />
                      <strong> Status: </strong>
                      <span [ngStyle]="{color:status[item.status] == 'Desligada'? 'red': status[item.status] == 'Funcionando'? 'green': 'blue'}" *ngIf="status[item.status]">
                        {{ status[item.status] }} </span><br />

                      <span *ngIf="logado">
                        <br> <strong> Última modificação: </strong>
                        {{ item.ultimaModificacao | date : "dd/MM/yyyy" }} ,
                        {{ item.ultimaModificacao | date : "HH:mm" }} <br />
                      </span>
                      <button
                        mat-raised-button
                        color="warn"
                        class="botao"
                        *ngIf="logado"
                        [routerLink]="['editar', item.numero]"> Editar<mat-icon>assignment_ind</mat-icon>
                      </button>
                    </div>

                    <div class="divRight">
                      <strong> Operador: </strong> {{ item.operador }} <br/>
                      <strong> Modelo: </strong> {{ item.modelo }} <br/>
                      <strong> Inicio da Operação: </strong> {{ item.dataInicio | date : "dd/MM/yyyy" }}<br/>
                      <strong> Fim da Operação : </strong> {{ item.dataFim | date : "dd/MM/yyyy" }} <br />
                      <strong> Última Calibração: </strong> {{ item.ultimaCalibracao | date : "dd/MM/yyyy" }} <br />
                      <strong> Tipos de Sensores: </strong> {{ item.tiposDeSensores }}
                    </div>
                  </div>
                   
                </mat-expansion-panel>
              </ng-container>
            </ng-container>
          </mat-accordion>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</body>