<body>
    <div class="body divided" style="display: flex">
        <div class="div20">
            <mat-card class="card">
                <mat-card-header class="header justifyMiddle white">
                    ID: {{estacaoSelecionada?.numero}} - Estação de Monitoramento  - {{estacaoSelecionada?.nome}} <br> {{dates.slice(-1)[0]}} horas
                </mat-card-header>
                <mat-card-content class="relatorio">
                
                    <ng-container *ngFor="let relatorio of relatorios; let i=index" >
                        <mat-grid-list cols="2" style="display: flex;" rowHeight="40px" [ngClass]="{ 'gray-background': i % 2 !== 0 }">
                            <mat-grid-tile class="left-tile"> {{relatorio.nome}} </mat-grid-tile>
                            <mat-grid-tile class="right-tile"> {{relatorio.valor}}{{relatorio.sufixo}} </mat-grid-tile>
                        </mat-grid-list>
                    </ng-container>
                    
                </mat-card-content>
            </mat-card>

            <button (click)="baixarZip()"> baixar </button>

        </div>
        <div class="div80">
            <div>
                <mat-card class="card border fixed">
                    <mat-card-header class="header justifyMiddle white" [formGroup]="form">
                        
                        <button mat-raised-button class="button" *ngIf="paginator != 2" [ngStyle]="{ 'background-color': 'RGB(85, 139, 47)'}" (click)="previousPage()"> 
                            <span *ngIf="paginator == 0"> < Últimas 48 horas </span>
                            <span *ngIf="paginator == 1"> < Últimas 72 horas </span>
                        </button>

                        <button mat-raised-button disabled class="button" *ngIf="paginator == 2"> 
                            <span> Últimas 72 horas </span>
                        </button>

                        <span> Estação </span>
                        <select style="border-color: green;" formControlName="estacao" (change)="selectEstacoesHandler()">
                            <option *ngFor="let element of estacoes" [value]="element.numero"> {{element.numero}} </option>
                        </select>

                        <button mat-raised-button class="button" *ngIf="paginator != 0" [ngStyle]="{ 'background-color': 'RGB(85, 139, 47)'}" (click)="nextPage()"> 
                            <span *ngIf="paginator == 1"> Últimas 24 horas > </span>
                            <span *ngIf="paginator == 2"> Últimas 48 horas > </span>
                        </button>

                        <button mat-raised-button disabled class="button" *ngIf="paginator == 0" style="color: black;"> 
                            <span> Últimas 24 horas </span>
                        </button>

                    </mat-card-header>
                </mat-card>
                
                <mat-card class="card">
                    <ng-container *ngFor="let consultaData of consultaDataArray">
                        <div class="graphs">
                            <app-consulta-grafico #consultaGrafico *ngIf="consultaData"
                                [dates]="dates" 
                                [stationData]="consultaData"
                                [intervalo]="intervalo"
                                [preferences]="false">
                            </app-consulta-grafico>
                        </div>
                    </ng-container>   
                </mat-card>

            </div>
        </div>
    </div>
</body>