.card{
    margin: 5px;
    background-color: rgb(255, 255, 255);
}

.white{
    background-color: white;
}

.header{
    font-weight: 500;
    padding: 10px;
    min-height: 60px;
    text-align: center;
}

.left-tile {
    text-align: right;
    border: 1px solid #ccc;
    padding-right: 16px;
}
  
.right-tile {
    text-align: left;
    border: 1px solid #ccc;
    border-left: 0px;
    padding-left: 16px;
}

.gray-background{
    background-color: rgb(240, 240, 240);
}

.div30{
    width: 29%;
    min-width: 560px;
    top: 61px;
}

.div70{
    width: 65%;
    top: 70px;
}

.fixed{
    position: sticky;
    top: 49px;
    width: 99%;
    z-index: 999; 
}

.title{
    padding-left: 15px;
    padding-top: 15px;
    font-size: 22px;
    font-weight: 400;
}

.relatorio{
    font-weight: 500;
    font-size: 14px;
}

.divided{
    margin: auto;
    min-width: 1280px;
}

.graphs{
    z-index: 1;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    color:white;
    margin: 0px 30px;
}

.border{
    padding: 1px;
    background-color: #ccc;
}

.justifyMiddle{
    display: flex;
    justify-content: center;
}