.body{
    padding-top: 60px;
    max-width: 90%;
    margin: auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card{
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(107, 107, 107, 0.3);
}

.border{
    background-color: rgb(185, 185, 185);
    padding: 1px;
}

.card30{
    width: 30%;
}

.card70{
    width: 70%;
}

.half{
    display: flex;
    min-width: 1543px;
}

.white{
    background-color: white;
}

.cardContent{
    padding: 15px;
    font-size: 16px;
    display: block;
}

.botao{
    margin-left: 15px;
    margin-bottom: 15px;
}

.title{
    padding-left: 15px;
    padding-top: 15px;
    font-size: 22px;
    font-weight: 400;
}

.justifyMiddle{
    display: flex;
    justify-content: center;
}

.header{
    padding-top: 10px;
    font-weight: 500;
}

.select{
    margin-left: 5px;
}

.subtitle{
    font-size: 12px;
    padding-left: 15px;
    font-weight: 400;
}

.padded{
    padding: 10px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}