.card{
    padding: 10px;
    margin: 10px;
}

.border{
    background-color: rgb(185, 185, 185);
    padding: 1px;
}

.white{
    background-color: white;
}

.cardContent{
    padding: 15px;
    font-size: 16px;
    display: block;
}

.header{
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cabecalho{
    font-weight: 500;
}

.title{
    padding-left: 15px;
    padding-top: 15px;
    font-size: 22px;
    font-weight: 400;
}

.divided{
    max-width: 90%;
    margin: auto;
}

.graphs{
    z-index: 1;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    color:white;
    margin: 0px 30px;
}

.justifyMiddle{
    display: flex;
    justify-content: center;
}

.padded{
    padding: 10px;
}
