<body>
    <div class="body">
        <div class="half">
            <mat-card class="card card30">
                <mat-card-header class="title">
                    Ainda em desenvolvimento, vá para <span routerLink="dados" style="color: blue"> dados </span> para ver dados meteorológicos mais completos
                </mat-card-header>
            </mat-card>
            <mat-card class="card card70">
                <canvas #graph1 id="1"></canvas>
            </mat-card>
        </div>
    </div>
</body>