<body>
    <div class="body">
        <mat-card class="card">
            <mat-card-header class="cabecalho justifyMiddle white">
                Ainda em desenvolvimento, vá para a aba <span routerLink="dados" style="color: blue; margin: 0px 5px;"> dados </span> para ver dados meteorológicos mais completos
            </mat-card-header>
        </mat-card>
        <div>
            <mat-card class="card border">

                <mat-card-header class="header justifyMiddle white" [formGroup]="form">
                    
                    <button mat-raised-button class="button" *ngIf="paginator != 3" [ngStyle]="{ 'background-color': 'RGB(85, 139, 47)'}" (click)="previousPage()"> < Dia anterior </button>
                    <button mat-raised-button disabled class="button" *ngIf="paginator == 3"> < Dia anterior </button>

                    <span> Acompanhando Estação </span>
                    <select style="border-color: green;" formControlName="estacao" (change)="selectEstacoesHandler()">
                        <option *ngFor="let element of estacoes" [value]="element.numero"> {{element.numero}} </option>
                    </select>

                    <button mat-raised-button class="button" *ngIf="paginator != 1" [ngStyle]="{ 'background-color': 'RGB(85, 139, 47)'}" (click)="nextPage()"> Próximo dia > </button>
                    <button mat-raised-button disabled class="button" *ngIf="paginator == 1" style="color: black;"> Próximo dia > </button>

                </mat-card-header>
                <!-- <ng-container *ngFor="let grafico of graficos"> -->
                    <app-consulta-grafico #consultagrafico *ngIf="consultaData"
                        [dates]="dates" 
                        [stationData]="consultaData"
                        [intervalo]="intervalo">
                    </app-consulta-grafico>
                <!-- </ng-container> -->
            </mat-card>
        </div>
    </div>
</body>