th.mat-sort-header-sorted {
    color: black;
}

.fixed {
    top: 49px;
    z-index: 999;
}

.fixed2 {
    position: sticky;
    top: 73px; 
    width: 100%;
    background-color: rgb(235, 224, 255);
    z-index: 999; 
}

.body{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: rgb(66, 66, 66);
    padding-top: 70px;
    max-width: 84%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.container {
    display: block;
    background-color: transparent;
    justify-content: space-between;
    padding-left: 1px;
    margin-left: 1px;
    height: 100%;
}

.blue{
    background-color: RGB(149, 117, 205) !important;
}

.cardHeader{
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cardContent table.mat-elevation-z8 td {
    font-size: 12px !important;
    font-weight: 500;
}

.cardContent table.mat-elevation-z8 th {
    font-size: 14px !important;
    font-weight: 500;
}

.center{
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    background-color: RGB(149, 117, 205);
    color: rgb(255, 255, 255);
}

.subtitle{
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.change-background {
    background-color: rgb(242, 235, 255);
}

.change-background:hover {
    background-color: rgb(242, 235, 255) !important;
}

.half{
    display: flex;
    min-width: 1280px;
}

.card30{
    width: 40%;
    height: 70%;
}

.card70{
    width: 60%;
    height: 70%;
}