<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://api.windy.com/assets/map-forecast/libBoot.js"></script>
</head>

<div class="body">
    <mat-card class="card blue temp" style="height: 400px !important;">
        <div class="map" id="map" src="https://api.windy.com/assets/map-forecast/libBoot.js">
            <app-map></app-map>
        </div>
    </mat-card>
    <!-- <mat-card class="card blue temp">
        a
    </mat-card> -->
    <div class="half">
        <mat-card class="card blue card70">
            <mat-card-header class="fixed center tableHeader">
                Chuva Acumulada (mm) - Monitoramento Ambiental - Lapa
            </mat-card-header>
            <mat-card-content class="tableContent">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
                    <ng-container matColumnDef="ID">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="Estação">
                        <th mat-header-cell *matHeaderCellDef> Nome </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="Hora_Leitura">
                        <th mat-header-cell *matHeaderCellDef style="color: #9C27B0"> Última Leitura </th>
                        <td mat-cell *matCellDef="let element" style="color: #9C27B0"> {{element.lastRead}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="5 min">
                        <th mat-header-cell *matHeaderCellDef> 5min </th>
                        <td mat-cell *matCellDef="let element" 
                        [ngStyle]="{'color': isNull(element.cincoMinutos) ? 'red' : 'inherit'}"> {{ carregarTexto(element.lastRead, element.cincoMinutos) }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="10 min">
                        <th mat-header-cell *matHeaderCellDef> 10min </th>
                        <td mat-cell *matCellDef="let element"
                        [ngStyle]="{'color': isNull(element.dezMinutos) ? 'red' : 'inherit'}"> {{ carregarTexto(element.lastRead, element.dezMinutos) }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="30 min">
                        <th mat-header-cell *matHeaderCellDef> 30min </th>
                        <td mat-cell *matCellDef="let element"
                        [ngStyle]="{'color': isNull(element.trintaMinutos) ? 'red' : 'inherit'}"> {{ carregarTexto(element.lastRead, element.trintaMinutos) }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="1h">
                        <th mat-header-cell *matHeaderCellDef> 1h </th>
                        <td mat-cell *matCellDef="let element"
                        [ngStyle]="{'color': isNull(element.umaHora) ? 'red' : 'inherit'}"> {{ carregarTexto(element.lastRead, element.umaHora) }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="3h">
                        <th mat-header-cell *matHeaderCellDef> 3h </th>
                        <td mat-cell *matCellDef="let element"
                        [ngStyle]="{'color': isNull(element.tresHoras) ? 'red' : 'inherit'}"> {{ carregarTexto(element.lastRead, element.tresHoras) }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="6h">
                        <th mat-header-cell *matHeaderCellDef> 6h </th>
                        <td mat-cell *matCellDef="let element"
                        [ngStyle]="{'color': isNull(element.seisHoras) ? 'red' : 'inherit'}"> {{ carregarTexto(element.lastRead, element.seisHoras) }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="12h">
                        <th mat-header-cell *matHeaderCellDef> 12h </th>
                        <td mat-cell *matCellDef="let element"
                        [ngStyle]="{'color': isNull(element.dozeHoras) ? 'red' : 'inherit'}"> {{ carregarTexto(element.lastRead, element.dozeHoras) }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="24h">
                        <th mat-header-cell *matHeaderCellDef> 24h </th>
                        <td mat-cell *matCellDef="let element"
                        [ngStyle]="{'color': isNull(element.umDia) ? 'red' : 'inherit'}"> {{ carregarTexto(element.lastRead, element.umDia) }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="36h">
                        <th mat-header-cell *matHeaderCellDef> 36h </th>
                        <td mat-cell *matCellDef="let element"
                        [ngStyle]="{'color': isNull(element.umDiaMeio) ? 'red' : 'inherit'}"> {{ carregarTexto(element.lastRead, element.umDiaMeio) }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="No mês">
                        <th mat-header-cell *matHeaderCellDef> Mês </th>
                        <td mat-cell *matCellDef="let element"
                        [ngStyle]="{'color': isNull(element.mes) ? 'red' : 'inherit'}"> {{ carregarTexto(element.lastRead, element.mes) }} </td>
                    </ng-container>
    
                    <tr class="fixed2" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; index as i; columns: displayedColumns;"
                    [ngClass]="{ 'table-background': i % 2 !== 0 }"></tr>
                </table>
            </mat-card-content>
        </mat-card>
        <!-- <mat-card class="card blue card30">
            <div class="map" id="map" src="https://api.windy.com/assets/map-forecast/libBoot.js">
                <app-map></app-map>
            </div>
        </mat-card> -->
    </div>
</div>