.mat-toolbar {
  background-color: #121d2e;
  color: #ffffff; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
  flex-grow: 1;
}

.buttonLinks{
  color: white;
  font-size: 16px;
  background-color: inherit;
  padding: 0 10px;
  border: 1px;
  border-radius: 50px;
}

.buttonLinks:hover {
  background-color: #04070c;
}

.buttonMenu{
  border: 5px;
  border-radius: 50px;
  width: 100%;
  color: black;
  padding: 10px 15px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  background-color: #ffffff;
}

.buttonMenu:hover{
  background-color: #c4c4c4;
}

@media (max-width: 1090px) {

  button.menuButton {
    display: block !important;
  }

  .buttonLinks {
    display: none;
  }

  .mainLink{
    font-size: 12px;
  }

}

@media (max-width: 700px){
  footer{
    font-size: 8px;
    font-weight: 500;
  }
}

.menuButton{
  display: none;
}

.menuIcon{
  font-size: 20px;
  padding-top: 3px;
  vertical-align: top;
}

.linkIcon{
  margin-bottom: 2px;
  font-size: 10px;
}

.mainLink{
  color: white; 
  text-decoration: none;
}

footer{
  background-color: #161B22;
  color: white;
  position: fixed;
  padding-top: 2px;
  bottom: 0;
  width: 100%;
  height: 23px;
  z-index: 999; 
  text-align: center;
}

.admin{
  color: rgb(255, 199, 45);
}

.moderador{
  color: rgb(0, 255, 106);
}

.isPage{
  background-color: #0b121f
}