
<div class="container navBar">
    <div class="left-column">
        <p class="navBarLogo"> <a href="http://meteoro.cefet-rj.br/" title="http://meteoro.cefet-rj.br/" style="color: white;">
             CoMet - LAPA - Monitoramento Ambiental </a> <p>
    </div>
    <div class="right-column">

        <button class="buttonLinks" routerLink="" title="Home - ainda em desenvolvimento"> HOME </button>
        <button class="buttonLinks" routerLink="dados" title="Ver os últimos 100 dados das estações meteorológicas"> DADOS </button>
        <button class="buttonLinks" routerLink="consulta" title="Realizar uma consulta específica ao Banco de Dados"> WIP-CONSULTA AO BD </button>
        <button class="buttonLinks" routerLink="estacoes" title="Mais informações sobre as estações"> ESTAÇÕES </button> 

        <button class="buttonLinks buttonEnd" *ngIf="!logado" routerLink="login"> LOGIN </button>
        <button class="buttonLinks buttonEnd moderador" *ngIf="(logado && !admin)" routerLink="login"> MODERADOR </button>
        <button class="buttonLinks buttonEnd admin" *ngIf="(logado && admin)" routerLink="login"> ADMINISTRADOR </button>

    </div> 
    <div class="logoDropdown esconder">
        <p class="navBarLogo"> <a href="http://meteoro.cefet-rj.br/" title="http://meteoro.cefet-rj.br/" style="color: white;"> CoMet</a> <p>
    </div>
    <div class="menuDropdown esconder">
        <button mat-button [matMenuTriggerFor]="beforeMenu" class="menu"><img src="../assets/menu.png" height="30px"></button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">

            <button class="buttonMenu logado admin" *ngIf="(logado && admin)" routerLink="login"> ADMINISTRADOR </button>
            <button class="buttonMenu logado moderador" *ngIf="(logado && !admin)" routerLink="login"> MODERADOR </button>

            <button class="buttonMenu" routerLink="" title="Home - ainda em desenvolvimento"> HOME </button>
            <button class="buttonMenu" routerLink="dados" title="Ver os últimos 100 dados das estações meteorológicas"> DADOS </button> <br>
            <button class="buttonMenu" routerLink="consulta" title="Realizar uma consulta específica ao Banco de Dados"> CONSULTA </button> <br>
            <button class="buttonMenu" routerLink="estacoes" title="Mais informações sobre as estações"> ESTAÇÕES </button> <br>
            <button class="buttonMenu" *ngIf="!logado" routerLink="login"> LOGIN </button>

        </mat-menu>
    </div>
</div>

<router-outlet></router-outlet>

<!--  <footer id="footer">Desenvolvedor: Estagiário <a href="https://github.com/MarcusLDC" title="Meu Github" style="color: white;">Marcus Vinicius Lima da Costa</a></footer>  -->
<!-- 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand">
                <a href="http://meteoro.cefet-rj.br/" title="http://meteoro.cefet-rj.br/" style="color: white;"> CoMet - LAPA - Monitoramento Ambiental </a>
                <br>Banco de dados - Estação Maracanã <br> 
                Lat.: -22,91° Lon.: -43,22° Alt.: 32m
            </span>
        </div>
    </nav>
--> 