#footer{
    background-color: #212529;
    color: white;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: small;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}