<mat-toolbar>
    <span> LAPA - Monitoramento Ambiental - CoMet </span>

    <span class="spacer"></span>

    <button class="buttonLinks" routerLink="" title="Home - ainda em desenvolvimento"> HOME </button>
    <button class="buttonLinks" routerLink="dados" title="Acompanhar os dados das estações meteorológicas em tempo real"> DADOS </button>
    <button class="buttonLinks" routerLink="dados/chuva" title="Acompanhar os dados das estações meteorológicas em tempo real"> CHUVA </button>
    <button class="buttonLinks" routerLink="consulta" title="Realizar uma consulta específica ao Banco de Dados"> CONSULTA AO BD </button>
    <button class="buttonLinks" routerLink="estacoes" title="Mais informações sobre as estações"> ESTAÇÕES </button> 
    
    <button mat-icon-button><mat-icon style="vertical-align: top;">menu</mat-icon></button>

</mat-toolbar>

<!-- <div class="container navBar">
    <div class="left-column">
        <p class="navBarLogo"> <a href="http://meteoro.cefet-rj.br/" title="http://meteoro.cefet-rj.br/" style="color: white; text-decoration: none;">
            LAPA - Monitoramento Ambiental - CoMet </a> <p>
    </div>
    <div class="right-column">

        <button class="buttonLinks" routerLink="" title="Home - ainda em desenvolvimento"> HOME </button>
        <button class="buttonLinks" routerLink="dados" title="Acompanhar os dados das estações meteorológicas em tempo real"> DADOS </button>
        <button class="buttonLinks" routerLink="dados/chuva" title="Acompanhar os dados das estações meteorológicas em tempo real"> CHUVA </button>
        <button class="buttonLinks" routerLink="consulta" title="Realizar uma consulta específica ao Banco de Dados"> CONSULTA AO BD </button>
        <button class="buttonLinks" routerLink="estacoes" title="Mais informações sobre as estações"> ESTAÇÕES </button> 

        <button class="buttonLinks buttonEnd" *ngIf="!logado" (click)="openDialog()"> LOGIN </button>

        <button class="buttonLinks buttonEnd moderador" *ngIf="(logado && !admin)" (click)="openDialog()"> MODERADOR </button>
        <button class="buttonLinks buttonEnd admin" *ngIf="(logado && admin)" (click)="openDialog()"> ADMINISTRADOR </button>

    </div> 
    <div class="logoDropdown esconder">
        <p class="navBarLogo"> <a href="http://meteoro.cefet-rj.br/" title="http://meteoro.cefet-rj.br/" style="color: white;"> CoMet</a> <p>
    </div>
    <div class="menuDropdown esconder">
        <div style="display:flex">

            <button class="buttonLinks logado admin" *ngIf="(logado && admin)" (click)="openDialog()"> ADMINISTRADOR </button>
            <button class="buttonLinks logado moderador" *ngIf="(logado && !admin)" (click)="openDialog()"> MODERADOR </button>
            <button mat-button [matMenuTriggerFor]="beforeMenu" class="menu"><img src="../assets/menu.png" height="30px" width="30px"></button>

        </div>
        <mat-menu #beforeMenu="matMenu" xPosition="before">

            <button class="buttonMenu" routerLink="" title="Home - ainda em desenvolvimento"> HOME </button>
            <button class="buttonMenu" routerLink="dados" title="Ver os últimos 100 dados das estações meteorológicas"> DADOS </button> <br>
            <button class="buttonMenu" routerLink="dados/chuva" title="Ver os últimos 100 dados das estações meteorológicas"> CHUVA </button> <br>
            <button class="buttonMenu" routerLink="consulta" title="Realizar uma consulta específica ao Banco de Dados"> CONSULTA </button> <br>
            <button class="buttonMenu" routerLink="estacoes" title="Mais informações sobre as estações"> ESTAÇÕES </button> <br>
            <button class="buttonMenu logado" *ngIf="!logado" (click)="openDialog()"> LOGIN </button>

        </mat-menu>
    </div>
</div> -->

<router-outlet></router-outlet>

<footer> <span> Desenvolvedor : <a href="https://github.com/MarcusLDC" title="Meu Github" style="color: white;">Marcus Vinicius Lima da Costa</a> - </span> Colaboradores : Almir Venancio e João Vitor Toledo</footer>