<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <h2 class="navbar-brand"><a href="http://meteoro.cefet-rj.br/" style="color: white;">
                CoMet - LAPA - Monitoramento Ambiental</a><br>Banco de dados - Estação Maracanã<br>
            <span class="navCoordinates"> Lat.: -22,91° Lon.: -43,22° Alt.: 32m <br>
            <button routerLink="consulta"> Consulta </button> <button routerLink="dados"> Dados </button></span>
        </h2>
    </div>
</nav>
<router-outlet></router-outlet>
<!-- <footer id="footer">Desenvolvedor: Estagiário Marcus Vinicius Lima da Costa</footer>  Vitor Aguiar da Gama --> 