.card{
    padding: 10px;
    margin: 10px;
    background-color: rgb(185, 185, 185);
    padding: 1px;
}

.content{
    background-color: white;
}

.botao{
   margin-top: 10px;
}

.justifyMiddle{
    display: flex;
    justify-content: center;
}

.grafico{
    display: flex;
    min-width: 1690px;
}