.card{
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.canvas{
    z-index: 9999;
}

.padded{
    padding: 5px;
}

.botao{
   margin-top: 10px;
   margin-bottom: 10px;
}

.justifyMiddle{
    display: flex;
    justify-content: center;
}