<mat-accordion class="card grafico" >
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{estacao}}
            </mat-panel-title>
        <mat-panel-description>
            {{titulo}}
        </mat-panel-description>
        <button mat-icon-button color="warn" (click)="removerGrafico()">
            <mat-icon>close</mat-icon>
        </button>
        </mat-expansion-panel-header>
        <mat-card class="card content">
            <mat-card-content>
                <ng-container>
                    <canvas #graph id="1"></canvas>
                </ng-container>
            </mat-card-content>
            <div class="justifyMiddle">
                <button mat-raised-button color="warn" (click)="baixarGrafico()" class="botao"> BAIXAR PNG </button>
            </div>
        </mat-card>
    </mat-expansion-panel>
</mat-accordion>