.card{
    padding: 1px;
}

.canvas{
    z-index: 9999;
}

.padded{
    padding: 5px;
}

.botao{
   margin-bottom: 10px;
   font-size: 10px;
}

.justifyMiddle{
    display: flex;
    justify-content: center;
}

.chartjs-tooltip .label {
    font-size: 12px;
}