.body{
    padding-top: 50px;
    max-width: 90%;
    margin: auto;
}

.card{
    margin: 10px;
    padding: 1px;
}

.padded{
    padding-top: 15px;
    padding-left: 15px;
}

.botao{
    margin-left: 25px;
    margin-bottom: 15px;
}

.title{
    padding: 25px;
    font-size: 22px;
    font-weight: 400;
}